<div class="animated fadeIn">
  <div class="col-lg col-md-6">
    <div class="card rcorners">
      <div class="card-header d-flex b-btm-green purple">
        <h2 class="chead">Quote Details</h2>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-lg-4">
            <div class="chead">
              {{ soci_data?.company_name }}
            </div>
            <!-- <label class="form-control no-border"><h2><b>{{company_details['company_name']}}</b></h2></label> -->
          </div>
          <div class="col-lg-2">
            <div class="bg-opp text-white p-1">
              SOCI ID <span>{{ soci_data?.soci_id }}</span>
            </div>
            <!-- <label class="form-control no-border"><b>Quote ID: {{company_details['quote_id']}}</b></label> -->
          </div>
          <div class="col-lg-2">
            <div class="bg-opp text-white p-1">
              Quote ID {{ soci_data?.quote_id }}
            </div>
            <!-- <label class="form-control no-border"><b>Quote ID: {{company_details['quote_id']}}</b></label> -->
          </div>
          <div class="col-lg-2">
            <div class="bg-opp text-white p-1">Opport ID</div>
            <!-- <label class="form-control no-border"><b>Quote ID: {{company_details['quote_id']}}</b></label> -->
          </div>
          <div class="col-lg-2">
            <div class="text-center status">
              <label style="color: black"><b>Stages</b></label>
              <input
                type="text"
                class="form-control"
                value=""
                readonly
                style="width: 150px"
              />
            </div>
          </div>
          <!-- <div class="col-lg" align='right'><b>Status</b><br><p>{{f.status.value}}</p></div> -->
        </div>
      </div>
      <div class="card-footer">
        <div class="row">
          <div class="col-lg-3">
            <div class="text-center footer-data">
              <label><b>Create Date</b></label>
              <p>{{soci_data?.created_at | date: "dd-MMM-yyyy"}}</p>
            </div>
          </div>
          <div class="col-lg-3">
            <div class="text-center footer-data">
              <label><b>Contact Name</b></label>
              <p>{{soci_data?.contact_name}}</p>
            </div>
          </div>
          <div class="col-lg-3">
            <div class="text-center footer-data">
              <label><b>Email</b></label>
              <p>{{soci_data?.contact_email}}</p>
            </div>
          </div>
          <div class="col-lg-3">
            <div class="text-center footer-data">
              <label><b>Owner</b></label>
              <p></p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <form [formGroup]="form" (ngSubmit)="submit()">
      <p-accordion [multiple]="true" styleClass="customColor" activeIndex="">
        <!-- Standard Term Accordion -->
        <p-accordionTab header="Standard Terms">
          <div class="row grey">
            <div class="col-md-5">
              <div class="row">
                <div class="col-md-5"><b>Payment Terms:</b></div>
                <div class="col-md-4">
                  <input
                    type="number"
                    class="form-control"
                    [attr.disabled]="is_payment_term_eidt ? null : ''"
                    formControlName="standard_payment_term"
                  />
                  <!-- <select
                    formControlName="standard_payment_term"
                    (change)="
                      termSelect(f.standard_payment_term.value); dateChange()
                    "
                    name="standard_terms"
                    class="form-control"
                  >
                    <option>--- Select Term ---</option>
                    <option *ngFor="let term of terms" value="{{ term.id }}">
                      {{ term.description }}
                    </option>
                  </select> -->
                </div>
              </div>
            </div>
            <div class="col-lg-6" style="text-align: middle">
              <div class="col-md-8">
                Quotation Validity: From
                <u>{{ payment_term_from | date: "dd-MMM-yyyy" }}</u> To
                <u>{{ toDate | date: "dd-MMM-yyyy" }}</u>
              </div>

              <!-- <u>{{ fromDate | date: "dd-MMM-yyyy" }}</u> To
              <u>{{ toDate | date: "dd-MMM-yyyy" }}</u> -->
            </div>
            <div class="col-lg-1" style="text-align: right">
              <div>
                <a
                  [routerLink]=""
                  routerLinkActive="router-link-active"
                  (click)="editPaymentTerm()"
                  ><i class="fa fa-edit"></i
                ></a>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-5">
              <b>(As Default) Payment Terms:</b>
              {{ standard_term?.default_payment_term + " Days" }}
            </div>
            <div class="col-md-6">
              Quotation Validity: From
              <u>{{ default_payment_term_from | date: "dd-MMM-yyyy" }}</u> To
              <u>{{ toDate | date: "dd-MMM-yyyy" }}</u>
            </div>
            <div class="col-lg-1" style="text-align: right"></div>
          </div>

          <div class="row grey">
            <div class="col-md-5">
              <div class="row">
                <div class="col-md-5"><b>Delivery Terms:</b></div>
                <div class="col-md-4">
                  <input
                    type="number"
                    class="form-control"
                    [attr.disabled]="is_delivery_payment_term_eidt ? null : ''"
                    formControlName="standard_delivery_term"
                  />
                </div>
              </div>
            </div>
            <div class="col-lg-6" style="text-align: middle">
              <div class="col-md-8">
                Quotation Validity: From
                <u>{{ delivery_term_from | date: "dd-MMM-yyyy" }}</u>
              </div>
            </div>
            <div class="col-lg-1" style="text-align: right">
              <div>
                <a
                  [routerLink]=""
                  routerLinkActive="router-link-active"
                  (click)="editDefaultPaymentTerm()"
                  ><i class="fa fa-edit"></i
                ></a>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-5">
              <b>(As Default) Delivery Terms:</b>
              {{ standard_term?.default_delivery_term + " Days" }}
            </div>
            <div class="col-md-6">
              Quotation Validity: From
              <u>{{ default_delivery_term_from | date: "dd-MMM-yyyy" }}</u>
            </div>
            <div class="col-lg-1" style="text-align: right"></div>
          </div>
        </p-accordionTab>
        <!-- End of Standard Term Accordion -->
      </p-accordion>
      <br />
      <!-- Billing Milestone -->
      <p-accordion [multiple]="true" styleClass="customColor" activeIndex="">
        <p-accordionTab header="Billing Milestones">
          <div class="row">
            <!-- formArrayName="billings" -->
            <table class="table table-borderless">
              <thead>
                <tr>
                  <th>Billing ID</th>
                  <th>Stage</th>
                  <th>Percentage %</th>
                  <th>Amount (MYR)</th>
                  <th>Notes</th>
                  <th></th>
                  <th>Action</th>
                </tr>
              </thead>
              <tbody>
                <tr
                  align="center"
                  *ngFor="let billing of billing_milestone; let i = index"
                >
                  <td class="text-center">{{ billing.billing_id }}</td>
                  <td class="text-center">{{ billing.stage }}</td>
                  <td class="text-center">{{ billing.percentage }}</td>
                  <td class="text-center">{{ billing.amount }}</td>
                  <td class="text-center">{{ billing.remarks }}</td>
                  <td class="text-center"></td>
                  <td class="text-center td-actions" style="width: 10%">
                    <div class="action-icon">
                      <!-- (click)="
                            disableEditMethod(billing, 'billing');
                            addBillingMilestone()
                          "
                          *ngIf="enableEdit['billing'] && controller == billing" -->
                      <!-- <a [routerLink]="" routerLinkActive="router-link-active"
                        ><i class="cil-check-circle"></i
                      ></a> -->
                      <!-- *ngIf="!enableEdit['billing']"
                          (click)="enableEditMethod(billing, 'billing')" -->
                      <a [routerLink]="" routerLinkActive="router-link-active">
                        <i class="fa fa-edit"></i>
                      </a>
                      &nbsp;
                      <!-- (click)="removeBillings(i)" -->
                      <a [routerLink]="" routerLinkActive="router-link-active"
                        ><i class="fa fa-trash"></i
                      ></a>
                    </div>
                  </td>
                </tr>
                <!-- *ngFor="let billing of billings().controls; let i = index"
                [formGroupName]="i" -->
                <tr align="center">
                  <td style="width: 15%">
                    <!-- <input
                      formControlName="billing_id"
                      class="form-control"
                      placeholder="ABC123"
                      type="text"
                    /> -->
                  </td>
                  <td style="width: 15%">
                    <input
                      formControlName="stage"
                      class="form-control"
                      size="1"
                      placeholder="Deploy"
                      type="text"
                    />
                  </td>
                  <td style="width: 10%">
                    <input
                      formControlName="percentage"
                      class="form-control"
                      size="1"
                      placeholder="50"
                      type="number"
                      min="0"
                      max="100.00"
                      step=".01"
                    />
                  </td>
                  <td style="width: 20%">
                    <input
                      formControlName="amount"
                      class="form-control"
                      size="1"
                      placeholder="300"
                      type="number"
                      min="0"
                      step=".01"
                    />
                  </td>
                  <!-- <td>
                    <input
                      formControlName="status"
                      class="form-control"
                      size="1"
                      placeholder="Deposit"
                      type="input"
                    />
                  </td> -->
                  <td style="width: 15%">
                    <!-- (focus)="billingRemarkModalOpen(i)" -->
                    <textarea
                      formControlName="remarks"
                      class="form-control"
                      id=""
                      cols="30"
                      rows="1"
                    ></textarea>
                  </td>
                  <td class="text-center"></td>
                  <!-- (click)="addBillings()" -->
                  <td class="td-actions" colspan="9" align="center">
                    <a [routerLink]="" routerLinkActive="router-link-active">
                      <i class="icon-plus icons"></i>
                    </a>
                  </td>
                </tr>
              </tbody>
              <!-- <tfoot align="center">
                <tr>
                  <td class="td-actions" colspan="9" align="center">
                    <a [routerLink]="" routerLinkActive="router-link-active">
                      <i class="icon-plus icons"></i>
                    </a>
                  </td>
                </tr>
              </tfoot> -->
            </table>
          </div>
        </p-accordionTab>
      </p-accordion>
      <br />

      <!-- Payment Schedules Accordion -->
      <p-accordion [multiple]="true" styleClass="customColor" activeIndex="">
        <p-accordionTab header="Payment Schedules">
          <div class="row">
            <!-- formArrayName="payments" -->
            <table class="table table-borderless">
              <thead>
                <tr>
                  <th>Billing ID</th>
                  <th>Percentage %</th>
                  <th>Schedule</th>
                  <th>SOC Payment Terms</th>
                  <th>Status</th>
                  <th>Amount (MYR)</th>
                  <th>Notes</th>
                  <th>Action</th>
                </tr>
              </thead>
              <tbody>
                <tr
                  align="center"
                  *ngFor="let payment of payment_schedules; let i = index"
                >
                  <td>{{ payment.billing_id }}</td>
                  <td>{{ payment.percentage }}</td>
                  <td>{{ payment.schedule | date: "dd-MMM-yyyy" }}</td>
                  <td></td>
                  <td></td>
                  <td>{{ payment.amount }}</td>
                  <td>{{ payment.remarks }}</td>
                  <td class="td-actions" style="width: 10%; padding: none">
                    <!-- (click)="disableEditMethod(payment, 'payment')"
                        *ngIf="enableEdit['payment'] && controller == payment" -->
                    <div class="action-icon">
                      <!-- <a [routerLink]="" routerLinkActive="router-link-active"
                        ><i class="cil-check-circle"></i
                      ></a> -->
                      <!-- (click)="enableEditMethod(payment, 'payment')" -->
                      <!-- *ngIf="!enableEdit['payment']" -->
                      <a [routerLink]="" routerLinkActive="router-link-active">
                        <i class="fa fa-edit"></i>
                      </a>
                      &nbsp;
                      <!-- (click)="removePayments(i)" -->
                      <a [routerLink]="" routerLinkActive="router-link-active"
                        ><i class="fa fa-trash"></i
                      ></a>
                    </div>
                  </td>
                </tr>
                <!-- *ngFor="let payment of payments().controls; let i = index"
                [formGroupName]="i" -->
                <tr align="center">
                  <td style="width: 15%; padding: 6px">
                    <select
                      formControlName="billing_id"
                      class="form-control"
                      style="width: 70%"
                    >
                      <!-- *ngFor="let bill of billingList"
                    value="{{ bill.billing_id }}" -->
                      <option
                        *ngFor="let bill of billing_milestone; let i = index"
                        value="{{ bill.billing_id }}"
                      >
                        {{ bill.billing_id }}
                      </option>
                    </select>
                  </td>
                  <td style="width: 10%; padding: 6px">
                    <!-- (keyup)="changePaymentPercent(i)" -->
                    <input
                      class="form-control"
                      formControlName="percentage"
                      size="1"
                      placeholder="50"
                      type="number"
                      min="0"
                      max="100.00"
                      step=".01"
                    />
                  </td>
                  <td style="width: 20%; padding: 6px">
                    <input
                      class="form-control"
                      formControlName="schedule"
                      size="1"
                      type="date"
                    />
                  </td>
                  <td style="width: 10%; padding: 6px">
                    <input
                      class="form-control"
                      formControlName="soc_payment_term"
                      placeholder="30 Days"
                      type="number"
                    />
                  </td>
                  <td style="padding: 6px">
                    <input
                      class="form-control"
                      formControlName="status"
                      size="1"
                      placeholder="Deposit"
                      type="input"
                    />
                  </td>
                  <td style="width: 10%; padding: 6px">
                    <!-- (keyup)="changePaymentValue(i)" -->
                    <input
                      class="form-control"
                      formControlName="amount"
                      size="1"
                      placeholder="300"
                      type="number"
                      min="0"
                      step=".01"
                    />
                  </td>
                  <td style="width: 10%; padding: 6px">
                    <!-- (focus)="paymentRemarkModalOpen(i)" -->
                    <textarea
                      formControlName="remarks"
                      class="form-control"
                      placeholder="Remarks"
                      id=""
                      cols="30"
                      rows="1"
                    ></textarea>
                    <!-- <input
                      class="form-control"
                      formControlName="remarks"
                      size="1"
                      placeholder="Remarks"
                      type="text"
                    /> -->
                  </td>
                  <td class="td-actions" colspan="9" align="center">
                    <!-- (click)="addPayments()" -->
                    <a [routerLink]="" routerLinkActive="router-link-active">
                      <i class="icon-plus icons"></i>
                    </a>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </p-accordionTab>
      </p-accordion>
      <!-- End of Payment Schedules Accordion -->
      <br />
      <!-- Additional Costs Accordion -->
      <p-accordion [multiple]="true" styleClass="customColor" activeIndex="">
        <p-accordionTab header="Additional Costs">
          <div class="row">
            <!-- formArrayName="addCosts" -->
            <table class="table table-borderless">
              <thead>
                <tr>
                  <th>Description</th>
                  <th>Quantity</th>
                  <th>Unit Price (MYR)</th>
                  <th>Total Price (MYR)</th>
                  <th>Notes</th>
                  <th></th>
                  <th></th>
                  <th>Action</th>
                </tr>
              </thead>
              <tbody>
                <tr align="center" *ngFor="let cost of additional_costs">
                  <td class="text-center">{{ cost.description }}</td>
                  <td class="text-center">{{ cost.quantity }}</td>
                  <td class="text-center">{{ cost.unit_price }}</td>
                  <td class="text-center">{{ cost.total_price }}</td>
                  <td class="text-center">{{ cost.remarks }}</td>
                  <td class="text-center"></td>
                  <td class="text-center"></td>
                  <td class="td-actions" style="width: 10%">
                    <div class="action-icon">
                      <!-- (click)="disableEditMethod(cost, 'addCost')"
                            *ngIf="enableEdit['addCost'] && controller == cost" -->
                      <!-- <a
                            [routerLink]=""
                            routerLinkActive="router-link-active"
                            ><i class="cil-check-circle"></i
                          ></a> -->
                      <!-- *ngIf="!enableEdit['addCost']"
                          (click)="enableEditMethod(cost, 'addCost')" -->
                      <a [routerLink]="" routerLinkActive="router-link-active">
                        <i class="fa fa-edit"></i>
                      </a>
                      &nbsp;
                      <!-- (click)="removeAddCosts(i)" -->
                      <a [routerLink]="" routerLinkActive="router-link-active"
                        ><i class="fa fa-trash"></i
                      ></a>
                    </div>
                  </td>
                </tr>
                <!-- *ngFor="let cost of addCosts().controls; let i = index"
                [formGroupName]="i" -->
                <tr align="center">
                  <td style="width: 15%">
                    <input
                      formControlName="description"
                      class="form-control"
                      placeholder="Training"
                      type="text"
                    />
                  </td>
                  <td style="width: 15%">
                    <!-- (keyup)="allTotal(cost['controls'], addCosts().controls)" -->
                    <input
                      formControlName="quantity"
                      class="form-control"
                      size="1"
                      placeholder="1"
                      type="number"
                      min="0"
                    />
                  </td>
                  <td style="width: 10%">
                    <!-- (keyup)="allTotal(cost['controls'], addCosts().controls)" -->
                    <input
                      formControlName="unit_price"
                      class="form-control"
                      size="1"
                      placeholder="300"
                      type="number"
                      min="0"
                      step=".01"
                    />
                  </td>
                  <td style="width: 20%">
                    <!-- <input
                      formControlName="total_price"
                      class="form-control"
                      size="1"
                      placeholder="300"
                      type="number"
                      min="0"
                      step=".01"
                    /> -->
                  </td>
                  <td style="width: 15%">
                    <textarea
                      formControlName="remarks"
                      class="form-control"
                      placeholder="Remarks"
                      id=""
                      cols="30"
                      rows="1"
                    ></textarea>
                  </td>
                  <td></td>
                  <td></td>
                  <td class="td-actions" colspan="9" align="center">
                    <!-- (click)="addAddCosts()" -->
                    <a [routerLink]="" routerLinkActive="router-link-active">
                      <i class="icon-plus icons"></i>
                    </a>
                  </td>
                </tr>
              </tbody>
            </table>
            <div class="col-lg-9" align="right">
              <div class="form-group">
                <!-- {{ sub_total | number: "1.2-2" }} -->
                <b>SUB TOTAL: MYR </b>
              </div>
            </div>
          </div>
        </p-accordionTab>
      </p-accordion>
      <!-- End of Additional Costs Accordion -->
      <br />

      <!-- Billing Instruction Accordion -->
      <p-accordion [multiple]="true" styleClass="customColor" activeIndex="">
        <p-accordionTab header="Billing Instruction">
          <div class="row">
            <table class="table table-borderless">
              <thead>
                <tr>
                  <th>Schedule</th>
                  <th>Percentage %</th>
                  <th>Amount (RM)</th>
                  <th>SOC Payment Terms</th>
                  <th>Status</th>
                  <th>Note</th>
                  <th>Action</th>
                </tr>
              </thead>
              <tbody>
                <tr align="center">
                  <td class="text-center">
                    {{ billing_instruction?.schedule }}
                  </td>
                  <td class="text-center">
                    {{ billing_instruction?.percentage }}
                  </td>
                  <td class="text-center">{{ billing_instruction?.amount }}</td>
                  <td class="text-center">
                    {{ billing_instruction?.soc_payment }}
                  </td>
                  <td class="text-center"></td>
                  <td class="text-center">
                    {{ billing_instruction?.remarks }}
                  </td>
                  <td class="td-actions" style="width: 10%">
                    <div class="action-icon">
                      <a [routerLink]="" routerLinkActive="router-link-active">
                        <i class="fa fa-edit"></i>
                      </a>
                      &nbsp;
                      <!-- (click)="removeAddCosts(i)" -->
                      <a [routerLink]="" routerLinkActive="router-link-active"
                        ><i class="fa fa-trash"></i
                      ></a>
                    </div>
                  </td>
                </tr>
                <tr align="center">
                  <td>
                    <input
                      formControlName="schedule"
                      class="form-control"
                      placeholder="schedule"
                      type="text"
                    />
                  </td>
                  <td>
                    <input
                      formControlName="percentage"
                      class="form-control"
                      placeholder="0"
                      type="text"
                    />
                  </td>
                  <td>
                    <input
                      formControlName="amount"
                      class="form-control"
                      placeholder="0"
                      type="text"
                    />
                  </td>
                  <td>
                    <input
                      formControlName="soc_payment_term"
                      class="form-control"
                      placeholder="payment terms"
                      type="text"
                    />
                  </td>
                  <td>
                    <input
                      formControlName="status"
                      class="form-control"
                      placeholder="status"
                      type="text"
                    />
                  </td>
                  <td>
                    <textarea
                      formControlName="remarks"
                      class="form-control"
                      placeholder="Remarks"
                      id=""
                      cols="30"
                      rows="1"
                    ></textarea>
                    <!-- <input
                      formControlName="remarks"
                      class="form-control"
                      placeholder="remarks"
                      type="text"
                    /> -->
                  </td>
                  <td class="td-actions" colspan="9" align="center">
                    <!-- (click)="addAddCosts()" -->
                    <a [routerLink]="" routerLinkActive="router-link-active">
                      <i class="icon-plus icons"></i>
                    </a>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </p-accordionTab>
      </p-accordion>
      <!-- End of Billing Instruction Accordion -->
      <br />

      <!-- Additional Instruction and Information Accordion -->
      <p-accordion [multiple]="true" styleClass="customColor" activeIndex="">
        <p-accordionTab header="Additional Instruction and Information">
          <!-- Heading -->
          <div class="row grey">
            <div class="col-md-3">
              <div class="row">
                <div class="col-md-5"><b>SOCI</b></div>
              </div>
            </div>
            <div class="col-lg-6" style="text-align: middle">
              <div class="col-md-8">
                <b> Description</b>
              </div>
            </div>
          </div>
          <!-- bil to -->
          <div>
            <div class="row">
              <div class="col-md-3">
                <div class="">
                  <div class="col-md-10">
                    <input
                      class="text-left form-control"
                      style="width: 200px"
                      type="text"
                      value="Bill To"
                      disabled
                    />
                  </div>
                </div>
              </div>
              <div class="col-md-8">
                <div class="">
                  <div class="col-md-10">
                    <input
                      class="text-left form-control"
                      style="width: 700px"
                      type="text"
                      placeholder="Description"
                    />
                  </div>
                </div>
              </div>

              <div class="col-md-1" style="text-align: right">
                <div class="row">
                  <div class="action-icon">
                    <a [routerLink]="" routerLinkActive="router-link-active"
                      ><i class="cil-check-circle"></i
                    ></a>
                    &nbsp;
                    <a
                      [routerLink]=""
                      routerLinkActive="router-link-active"
                      style="font-size: 20px"
                      ><i class="fa fa-trash"></i
                    ></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- ship to -->
          <div>
            <div class="row">
              <div class="col-md-3">
                <div class="">
                  <div class="col-md-10">
                    <input
                      class="text-left form-control"
                      style="width: 200px"
                      type="text"
                      value="Ship To"
                      disabled
                    />
                  </div>
                </div>
              </div>
              <div class="col-md-8">
                <div class="">
                  <div class="col-md-10">
                    <input
                      class="text-left form-control"
                      style="width: 700px"
                      type="text"
                      placeholder="Description"
                      disabled
                    />
                  </div>
                </div>
              </div>

              <div class="col-md-1" style="text-align: right">
                <div class="row">
                  <div class="action-icon">
                    <a [routerLink]="" routerLinkActive="router-link-active"
                      ><i class="cil-check-circle"></i
                    ></a>
                    &nbsp;
                    <a
                      [routerLink]=""
                      routerLinkActive="router-link-active"
                      style="font-size: 20px"
                      ><i class="fa fa-trash"></i
                    ></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- Tender -->
          <div>
            <div class="row">
              <div class="col-md-3">
                <div class="">
                  <div class="col-md-10">
                    <input
                      class="text-left form-control"
                      style="width: 200px"
                      type="text"
                      value="Tender / Contract No "
                      disabled
                    />
                  </div>
                </div>
              </div>
              <div class="col-md-8">
                <div class="">
                  <div class="col-md-10">
                    <input
                      class="text-left form-control"
                      style="width: 700px"
                      type="text"
                      placeholder="Description"
                    />
                  </div>
                </div>
              </div>

              <div class="col-md-1" style="text-align: right">
                <div class="row">
                  <div class="action-icon">
                    <a [routerLink]="" routerLinkActive="router-link-active"
                      ><i class="cil-check-circle"></i
                    ></a>
                    &nbsp;
                    <a
                      [routerLink]=""
                      routerLinkActive="router-link-active"
                      style="font-size: 20px"
                      ><i class="fa fa-trash"></i
                    ></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- Contract Start -->
          <div>
            <div class="row">
              <div class="col-md-3">
                <div class="">
                  <div class="col-md-10">
                    <input
                      class="text-left form-control"
                      style="width: 200px"
                      type="text"
                      value="Contract Start Date"
                      disabled
                    />
                  </div>
                </div>
              </div>
              <div class="col-md-8">
                <div class="">
                  <div class="col-md-10">
                    <input
                      class="text-left form-control"
                      style="width: 700px"
                      type="text"
                      placeholder="Description"
                    />
                  </div>
                </div>
              </div>

              <div class="col-md-1" style="text-align: right">
                <div class="row">
                  <div class="action-icon">
                    <a [routerLink]="" routerLinkActive="router-link-active"
                      ><i class="cil-check-circle"></i
                    ></a>
                    &nbsp;
                    <a
                      [routerLink]=""
                      routerLinkActive="router-link-active"
                      style="font-size: 20px"
                      ><i class="fa fa-trash"></i
                    ></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- Contract Expiry Date  -->
          <div>
            <div class="row">
              <div class="col-md-3">
                <div class="">
                  <div class="col-md-10">
                    <input
                      class="text-left form-control"
                      style="width: 200px"
                      type="text"
                      value="Contract Expiry Date"
                      disabled
                    />
                  </div>
                </div>
              </div>
              <div class="col-md-8">
                <div class="">
                  <div class="col-md-10">
                    <input
                      class="text-left form-control"
                      style="width: 700px"
                      type="text"
                      placeholder="Description"
                    />
                  </div>
                </div>
              </div>

              <div class="col-md-1" style="text-align: right">
                <div class="row">
                  <div class="action-icon">
                    <a [routerLink]="" routerLinkActive="router-link-active"
                      ><i class="cil-check-circle"></i
                    ></a>
                    &nbsp;
                    <a
                      [routerLink]=""
                      routerLinkActive="router-link-active"
                      style="font-size: 20px"
                      ><i class="fa fa-trash"></i
                    ></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </p-accordionTab>
      </p-accordion>
      <!-- End of Additional Instruction and Information -->
      <br />

      <!-- Additional/Reduction Charges -->
      <p-accordion [multiple]="true" styleClass="customColor" activeIndex="">
        <p-accordionTab header="Additional/Reduction Charges">
          <!-- Heading -->
          <div class="row grey">
            <div class="col-md-3" style="text-align: middle">
              <div class="row">
                <div class="col-md-5"><b>Cost Item</b></div>
              </div>
            </div>
            <div class="col-lg-4" style="text-align: middle">
              <div class="col-md-8">
                <b> Description</b>
              </div>
            </div>
            <div class="col-lg-1" style="text-align: middle">
              <div class="col-md-8">
                <b> Quantity</b>
              </div>
            </div>
            <div class="col-lg-1" style="text-align: middle">
              <div class="col-md-8">
                <b> Unit (RM)</b>
              </div>
            </div>
            <div class="col-lg-2" style="text-align: middle">
              <div class="col-md-8">
                <b> Amount (RM)</b>
              </div>
            </div>
            <div class="col-lg-1" style="text-align: middle">
              <div class="">
                <b> Action</b>
              </div>
            </div>
          </div>
          <!-- Training -->
          <div>
            <div class="row">
              <div class="col-md-3">
                <div class="">
                  <div class="col-md-10">
                    <input
                      class="text-left form-control"
                      style="width: 200px"
                      type="text"
                      value="Training"
                      disabled
                    />
                  </div>
                </div>
              </div>
              <!-- Description -->
              <div class="col-md-4">
                <div class="">
                  <div class="col-md-10">
                    <input
                      class="text-left form-control"
                      style="width: 336px"
                      type="text"
                      placeholder="Description"
                    />
                  </div>
                </div>
              </div>
              <!-- qty -->
              <div class="col-md-1">
                <div class="qty">
                  <div class="col-md-10">
                    <input
                      class="text-left form-control"
                      type="number"
                      placeholder="0"
                      style="width: 75px"
                    />
                  </div>
                </div>
              </div>

              <!-- unit -->
              <div class="col-md-1">
                <div class="unit">
                  <div class="col-md-10">
                    <input
                      class="text-left form-control"
                      type="text"
                      placeholder="0"
                      style="width: 75px"
                    />
                  </div>
                </div>
              </div>

              <!-- Amount -->
              <div class="col-md-2">
                <div class="amount">
                  <div class="col-md-10">
                    <input
                      class="text-left form-control"
                      type="text"
                      placeholder="0.0"
                      style="width: 100px"
                    />
                  </div>
                </div>
              </div>

              <!-- action -->
              <div class="col-md-1" style="text-align: right">
                <div class="row">
                  <div class="action-icon">
                    <a [routerLink]="" routerLinkActive="router-link-active"
                      ><i class="cil-check-circle"></i
                    ></a>
                    &nbsp;
                    <a
                      [routerLink]=""
                      routerLinkActive="router-link-active"
                      style="font-size: 20px"
                      ><i class="fa fa-trash"></i
                    ></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- Installation -->
          <div>
            <div class="row">
              <div class="col-md-3">
                <div class="">
                  <div class="col-md-10">
                    <input
                      class="text-left form-control"
                      style="width: 200px"
                      type="text"
                      value="Installation"
                      disabled
                    />
                  </div>
                </div>
              </div>
              <!-- Description -->
              <div class="col-md-4">
                <div class="">
                  <div class="col-md-10">
                    <input
                      class="text-left form-control"
                      style="width: 336px"
                      type="text"
                      placeholder="Description"
                    />
                  </div>
                </div>
              </div>
              <!-- qty -->
              <div class="col-md-1">
                <div class="qty">
                  <div class="col-md-10">
                    <input
                      class="text-left form-control"
                      type="number"
                      placeholder="0"
                      style="width: 75px"
                    />
                  </div>
                </div>
              </div>

              <!-- unit -->
              <div class="col-md-1">
                <div class="unit">
                  <div class="col-md-10">
                    <input
                      class="text-left form-control"
                      type="text"
                      placeholder="0"
                      style="width: 75px"
                    />
                  </div>
                </div>
              </div>

              <!-- Amount -->
              <div class="col-md-2">
                <div class="amount">
                  <div class="col-md-10">
                    <input
                      class="text-left form-control"
                      type="text"
                      placeholder="0.0"
                      style="width: 100px"
                    />
                  </div>
                </div>
              </div>

              <div class="col-md-1" style="text-align: right">
                <div class="row">
                  <div class="action-icon">
                    <a [routerLink]="" routerLinkActive="router-link-active"
                      ><i class="cil-check-circle"></i
                    ></a>
                    &nbsp;
                    <a
                      [routerLink]=""
                      routerLinkActive="router-link-active"
                      style="font-size: 20px"
                      ><i class="fa fa-trash"></i
                    ></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- Taxation -->
          <div>
            <div class="row">
              <div class="col-md-3">
                <div class="">
                  <div class="col-md-10">
                    <input
                      class="text-left form-control"
                      style="width: 200px"
                      type="text"
                      value="Taxation"
                      disabled
                    />
                  </div>
                </div>
              </div>
              <!-- Description -->
              <div class="col-md-4">
                <div class="">
                  <div class="col-md-10">
                    <input
                      class="text-left form-control"
                      style="width: 336px"
                      type="text"
                      placeholder="Description"
                    />
                  </div>
                </div>
              </div>
              <!-- qty -->
              <div class="col-md-1">
                <div class="qty">
                  <div class="col-md-10">
                    <input
                      class="text-left form-control"
                      type="number"
                      placeholder="0"
                      style="width: 75px"
                    />
                  </div>
                </div>
              </div>

              <!-- unit -->
              <div class="col-md-1">
                <div class="unit">
                  <div class="col-md-10">
                    <input
                      class="text-left form-control"
                      type="text"
                      placeholder="0"
                      style="width: 75px"
                    />
                  </div>
                </div>
              </div>

              <!-- Amount -->
              <div class="col-md-2">
                <div class="amount">
                  <div class="col-md-10">
                    <input
                      class="text-left form-control"
                      type="text"
                      placeholder="0.0"
                      style="width: 100px"
                    />
                  </div>
                </div>
              </div>

              <div class="col-md-1" style="text-align: right">
                <div class="row">
                  <div class="action-icon">
                    <a [routerLink]="" routerLinkActive="router-link-active"
                      ><i class="cil-check-circle"></i
                    ></a>
                    &nbsp;
                    <a
                      [routerLink]=""
                      routerLinkActive="router-link-active"
                      style="font-size: 20px"
                      ><i class="fa fa-trash"></i
                    ></a>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-12" align="right">
            <div class="form-group charges">
              <b>TotaL </b> IDR<input type="text" class="form-control" />
              <!-- {{ sub_total | number: "1.2-2" }} -->
            </div>
          </div>
        </p-accordionTab>
      </p-accordion>
      <!-- End Additional/Reduction Charges -->
      <br />
      <!-- Product -->
      <p-accordion [multiple]="true" styleClass="customColor" activeIndex="0">
        <p-accordionTab header="Products">
          <div class="row">
            <!-- formArrayName="products" -->
            <table class="table table-borderless">
              <thead>
                <tr>
                  <th>No.</th>
                  <th>Product Name</th>
                  <th>SKU ID</th>
                  <th>Quantity</th>
                  <th>Unit Price(MYR)</th>
                  <th>Total Price(MYR)</th>
                  <th>Discount %</th>
                  <th>Net Amount(MYR)</th>
                  <th>Action</th>
                </tr>
              </thead>
              <tbody>
                <tr align="center" *ngFor="let item of product; let i = index">
                  <td class="text-center">{{ i + 1 }}</td>
                  <td class="text-center">{{ item.name }}</td>
                  <td class="text-center">{{ item.soci_id }}</td>
                  <td class="text-center">{{ item.quantity }}</td>
                  <td class="text-center">{{ item.unit_price }}</td>
                  <td class="text-center">{{ item.total_price }}</td>
                  <td class="text-center">{{ item.discount }}</td>
                  <td class="text-center">{{ item.amount }}</td>
                  <td class="td-actions" style="width: 5%">
                    <div class="action-icon">
                      <!-- (click)="disableEditMethod(productC, 'product')"
                            *ngIf="enableEdit['product'] && controller == productC" -->
                      <!-- <a [routerLink]="" routerLinkActive="router-link-active"
                        ><i class="cil-check-circle"></i
                      ></a> -->
                      <!-- *ngIf="!enableEdit['product']"
                          (click)="enableEditMethod(productC, 'product')" -->
                      <a [routerLink]="" routerLinkActive="router-link-active">
                        <i class="fa fa-edit"></i> </a
                      >&nbsp;
                      <!-- (click)="removeProduct(i)" -->
                      <a [routerLink]="" routerLinkActive="router-link-active"
                        ><i class="fa fa-trash"></i
                      ></a>
                    </div>
                  </td>
                </tr>
                <!-- *ngFor="let productC of products().controls; let i = index"
                [formGroupName]="i" -->
                <tr align="center">
                  <!-- {{ i + 1 }} -->
                  <td></td>
                  <td style="size: 20%">
                    <!-- [(ngModel)]="selectedProductAdvanced[i]" -->
                    <p-autoComplete
                      formControlName="name"
                      [suggestions]="filteredProducts"
                      (completeMethod)="filterProduct($event)"
                      field="name"
                      [dropdown]="true"
                      [style]="{ width: '100%' }"
                      [inputStyle]="{ width: '100%' }"
                    >
                      <ng-template let-product pTemplate="item">
                        <!-- (click)="productDetails(product, productC);countNetAmount(productC)" -->
                        <div class="product-item">
                          <div>{{ product.name }}</div>
                        </div>
                      </ng-template>
                    </p-autoComplete>
                  </td>
                  <td>
                    <input
                      class="form-control"
                      formControlName="sku"
                      type="text"
                    />
                  </td>
                  <td>
                    <!-- (keyup)="countNetAmount(productC)" -->
                    <input
                      class="form-control"
                      formControlName="quantity"
                      type="number"
                      step=".01"
                    />
                  </td>
                  <td>
                    <input
                      class="form-control"
                      formControlName="unit_price"
                      type="number"
                      step=".01"
                    />
                  </td>
                  <td>
                    <input
                      class="form-control"
                      formControlName="total_price"
                      type="number"
                      step=".01"
                    />
                  </td>
                  <td>
                    <!-- (keyup)="countNetAmount(productC)" -->
                    <input
                      class="form-control"
                      formControlName="discount"
                      type="number"
                      step=".01"
                    />
                  </td>
                  <td>
                    <input
                      class="form-control"
                      formControlName="amount"
                      type="number"
                      step=".01"
                    />
                  </td>
                  <td class="td-actions" colspan="9" align="center">
                    <!-- (click)="addAddCosts()" -->
                    <a [routerLink]="" routerLinkActive="router-link-active">
                      <i class="icon-plus icons"></i>
                    </a>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="row">
            <div class="card">
              <div class=""></div>
            </div>
          </div>
        </p-accordionTab>
      </p-accordion>
      <!-- End of Products Accordion -->
      <br />
    </form>
  </div>
</div>

<div class="row"></div>
<!-- Empty row to give some space at the bottom -->
<div class="row"></div>

<div
  bsModal
  #dangerModal="bs-modal"
  class="modal fade"
  tabindex="-1"
  role="dialog"
  aria-labelledby="myModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-danger" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Warning</h4>
      </div>
      <div class="modal-body">
        <p>{{ dangerBody }}</p>
      </div>
      <div class="modal-footer" *ngIf="modal_type == 'paymentPercentage'">
        <button
          type="button"
          class="btn btn-primary"
          (click)="dangerModal.hide()"
        >
          Keep Changes
        </button>
        <button
          type="button"
          class="btn btn-primary"
          (click)="setPaymentAutoAssignPercentage(); dangerModal.hide()"
        >
          Auto-Assign
        </button>
        <button
          type="button"
          class="btn btn-primary"
          (click)="setDefaultPayment(); dangerModal.hide()"
        >
          Revert Default
        </button>
      </div>
      <div class="modal-footer" *ngIf="modal_type == 'paymentValue'">
        <button
          type="button"
          class="btn btn-primary"
          (click)="dangerModal.hide()"
        >
          Keep Changes
        </button>
        <button
          type="button"
          class="btn btn-primary"
          (click)="setPaymentAutoAssignValue(); dangerModal.hide()"
        >
          Auto-Assign
        </button>
        <button
          type="button"
          class="btn btn-primary"
          (click)="setDefaultPayment(); dangerModal.hide()"
        >
          Revert Default
        </button>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
<!-- /.modal -->

<div
  bsModal
  #paymentRemarkModal="bs-modal"
  class="modal fade"
  tabindex="-1"
  role="dialog"
  aria-labelledby="myModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-info" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Remarks</h4>
        <button
          type="button"
          class="close"
          (click)="paymentRemarkModal.hide()"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <textarea
          name="pformRemarks"
          id="pformRemarks"
          cols="60"
          placeholder="remarks"
          rows="10"
          [(ngModel)]="paymentRemarks"
        ></textarea>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-secondary"
          (click)="paymentRemarkModalClose()"
        >
          Confirm
        </button>
        <!-- <button type="button" class="btn btn-info" (click)="cancelQuote()">Cancel Quote</button> -->
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
<!-- /.modal -->

<div
  bsModal
  #billingRemarkModal="bs-modal"
  class="modal fade"
  tabindex="-1"
  role="dialog"
  aria-labelledby="myModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-info" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Cancellation Remarks</h4>
        <button
          type="button"
          class="close"
          (click)="billingRemarkModal.hide()"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <textarea
          name="bformRemarks"
          id="bformRemarks"
          cols="60"
          placeholder="remarks"
          rows="10"
          [(ngModel)]="billingRemarks"
        ></textarea>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-secondary"
          (click)="billingRemarkModalClose()"
        >
          Confirm
        </button>
        <!-- <button type="button" class="btn btn-info" (click)="cancelQuote()">Cancel Quote</button> -->
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
<!-- /.modal -->
