<div class="animated fadeIn">
    <form [formGroup]="form" (ngSubmit)="submit()">
        <div class="col-lg col-md-6">
            <div class="card rcorners">
                <div class="card-header row" style="background-color: #898485; color: white;">
                    <div style="padding-left: 20px;">
                        <h2>Prospect Record</h2>
                    </div>
                </div>
                <div class="card-body">
                    <div class="card-row">
                        <div class="lead-data">
                            <div class="lead-header">
                                <div class="row">
                                    <div class="col-md-3">
                                        <h3 class="bold">
                                            {{ form_controls.company_name.value }}
                                        </h3>
                                    </div>
                                    <div class="col-md-3 ">
                                        <div class="lead-id">
                                            <span>Prospect ID:</span>
                                            <span>{{ form_controls.id.value }}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="details grey">
                                <div class="row">
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label class="bold">Created Date</label>
                                            <div>{{ moment(form_controls.created_at.value).format('DD-MMM-YYYY') }}</div>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label class="bold">Contact Name</label>
                                            <div>{{ form_controls.contact_name.value }}</div>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label class="bold">Email</label>
                                            <div>{{ form_controls.email.value }}</div>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label class="bold">Owner</label>
                                            <div>{{ form_controls.lead_owner.value }}</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <p-accordion>
                    <p-accordionTab [selected]="true">
                        <p-header>
                            <i class="pi pi-info-circle"></i>
                            <span class="accordion-header">Prospect Information</span>
                        </p-header>
                        <div class="lead-row">
                            <div class="row">
                                <div class="col-xl-6">
                                    <div class="row">
                                        <div class="col-md-5 text-header">
                                            Lead Owner
                                        </div>
                                        <div class="col-md-5">
                                            <input pInputText formControlName="lead_owner" class="form-control" placeholder="" type="input">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="lead-row">
                            <div class="row">
                                <div class="col-xl-6">
                                    <div class="row">
                                        <div class="col-md-5 text-header">
                                            Company Name
                                        </div>
                                        <div class="col-md-5">
                                            <input pInputText formControlName="company_name" class="form-control" placeholder="" type="input">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-6">
                                    <div class="row">
                                        <div class="col-md-5 text-header">
                                            Source
                                        </div>
                                        <div class="col-md-5">
                                            <input pInputText formControlName="source" class="form-control" placeholder="" type="input">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="lead-row">
                            <div class="row">
                                <div class="col-xl-6">
                                    <div class="row">
                                        <div class="col-md-5 text-header">
                                            Individual Name
                                        </div>
                                        <div class="col-md-5">
                                            <input pInputText formControlName="contact_name" class="form-control" placeholder="" type="input">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-6">
                                    <div class="row">
                                        <div class="col-md-5 text-header">
                                            Able to Contact
                                        </div>
                                        <div class="col-md-5">
                                            <mat-slide-toggle formControlName="able_to_contact" class="example-margin">
                                            </mat-slide-toggle>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="lead-row">
                            <div class="row">
                                <div class="col-xl-6">
                                    <div class="row">
                                        <div class="col-md-5 text-header">
                                            Department
                                        </div>
                                        <div class="col-md-5">
                                            <input pInputText formControlName="department" class="form-control" placeholder="" type="input">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-6">
                                    <div class="row">
                                        <div class="col-md-5 text-header">
                                            Do We Sell These Products
                                        </div>
                                        <div class="col-md-5">
                                            <mat-slide-toggle formControlName="do_we_sell_these_product" class="example-margin">
                                            </mat-slide-toggle>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="lead-row">
                            <div class="row">
                                <div class="col-xl-6">
                                    <div class="row">
                                        <div class="col-md-5 text-header">
                                            Email
                                        </div>
                                        <div class="col-md-5">
                                            <input pInputText formControlName="email" class="form-control" placeholder="" type="input">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-6">
                                    <div class="row">
                                        <div class="col-md-5 text-header">
                                            Products That Not Selling
                                        </div>
                                        <div class="col-md-5">
                                            <input pInputText formControlName="products_thats_not_selling" class="form-control" placeholder="" type="input">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="lead-row">
                            <div class="row">
                                <div class="col-xl-6">
                                    <div class="row">
                                        <div class="col-md-5 text-header">
                                            Mobile Number
                                        </div>
                                        <div class="col-md-5">
                                            <input pInputText formControlName="mobile_number" class="form-control" placeholder="" type="input">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-6">
                                    <div class="row">
                                        <div class="col-md-5 text-header">
                                            Lead Status
                                        </div>
                                        <div class="col-md-5">
                                            {{ form_controls.lead_status.value }}
                                            <!-- <input pInputText formControlName="lead_status" class="form-control" placeholder="" type="input"> -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="lead-row">
                            <div class="row">
                                <div class="col-xl-6">
                                    <div class="row">
                                        <div class="col-md-5 text-header">
                                            Office Number
                                        </div>
                                        <div class="col-md-5">
                                            <input pInputText formControlName="office_number" class="form-control" placeholder="" type="input">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-6">
                                    <div class="row">
                                        <div class="col-md-5 text-header">
                                            Reason for Disqualifying
                                        </div>
                                        <div class="col-md-5">
                                            <input pInputText formControlName="reason_for_disqualifying" class="form-control" placeholder="" type="input">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="lead-row" style="border-bottom: none;">
                            <div class="row">
                                <div class="col-xl-6">
                                    <div class="row">
                                        <div class="col-md-5 text-header">
                                            Address
                                        </div>
                                        <div class="col-md-5">
                                            <textarea [rows]="3" style="width: 100%;" pInputTextarea [autoResize]="autoResize" formControlName="address"></textarea>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-6">
                                    <div class="row">
                                        <div class="col-md-5 text-header">
                                            Remark
                                        </div>
                                        <div class="col-md-5">
                                            <textarea [rows]="3" style="width: 100%;" pInputTextarea [autoResize]="autoResize" formControlName="remark"></textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </p-accordionTab>
                </p-accordion>
            </div>
            <div class="form-group">
                <p-accordion>
                    <p-accordionTab [selected]="true">
                        <p-header>
                            <i class="cil-clipboard"></i>
                            <span class="accordion-header">Contact</span>
                            <button class="btn btn-icon btn-outline-primary ml-2" type="button"
                                (click)="onNewContact(); $event.stopPropagation();"><i class="cil-plus c-icon"></i>
                            </button>
                        </p-header>
                        <div>
                            <table class="table table-borderless table-striped">
                                <thead class="grey">
                                    <tr>
                                        <th style="width: 5%;"></th>
                                        <th>Name</th>
                                        <th>Title</th>
                                        <th>Phone</th>
                                        <th>Email</th>
                                        <th>Department</th>
                                        <th style="width: 5%;"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let prospect of prospect_list; let i=index">
                                        <td>
                                          <p-checkbox [(ngModel)]="prospect.primary" [ngModelOptions]="{standalone: true}" [binary]="prospect.primary"
                                            (onChange)="updatePrimary(i, prospect.primary);" [inputId]="'primary'+i"
                                          ></p-checkbox>
                                        </td>
                                        <td>
                                            {{ prospect.name }}
                                        </td>
                                        <td>
                                            {{ prospect.title }}
                                        </td>
                                        <td>
                                            {{ prospect.phone }}
                                        </td>
                                        <td>
                                            {{ prospect.email }}
                                        </td>
                                        <td>
                                            {{ prospect.department }}
                                        </td>
                                        <td>
                                            <a class="btn" style="cursor: pointer;" (click)="deleteRow(i)"><i class="cil-trash"></i></a>
                                            <!-- <button type="button" class="btn btn-danger">Delete</button> -->
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </p-accordionTab>
                </p-accordion>
            </div>
            <div class="form-group">
                <p-accordion>
                    <p-accordionTab [selected]="true">
                        <p-header>
                            <i class="cil-clipboard"></i>
                            <span class="accordion-header">Modification Log</span>
                        </p-header>
                        <div>
                            <table class="table table-borderless table-striped" formArrayName="modifiction_log">
                                <thead class="grey">
                                    <tr>
                                        <th style="width: 20%; padding-left: 50px;">Date</th>
                                        <th style="padding-left: 50px;">Description</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let log of getLog.controls; let i=index" [formGroupName]="i">
                                        <td style="width: 20%; padding-left: 50px;">
                                            {{ moment(log.value.created_at).format('DD-MMM-YYYY') }}
                                        </td>
                                        <td style="padding-left: 50px;">
                                            {{ log.value.description }}
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </p-accordionTab>
                </p-accordion>
            </div>
            <div class="form-group">
                <p-accordion>
                    <p-accordionTab [selected]="true">
                        <p-header>
                            <i class="cil-notes"></i>
                            <span class="accordion-header">Additional Notes</span>
                        </p-header>
                        <div>
                            <div class="col-lg-auto" style="padding: 10px 20px 10px 20px;">
                                <textarea style="width: 100%;" maxLength="250" [rows]="5" pInputTextarea [autoResize]="autoResize" formControlName="additional_notes" placeholder="Limit characters count 250"></textarea>
                            </div>
                        </div>
                    </p-accordionTab>
                </p-accordion>
            </div>
            <div class="col-xl-12 submit-button" align=center>
                <div class="form-group">
                    <!-- <a routerLink="/prospects/index" class="btn btn-secondary">Save</a> -->
                    <button class="btn btn-secondary pr-5 pl-5 mr-2" type="submit"><i class="cil-save mt-1 mr-1"></i>Save</button>
                    <button class="btn btn-primary pr-4 pl-4" type="button"><i class="cil-money mt-1 mr-1"></i>Create Opportunity</button>
                    <!-- <button class="btn btn-primary" type="button" (click)="CreateProspect()">Create Prospect</button> -->
                </div>
            </div>
        </div>
    </form>
</div>

<div (onHide)="redirectPage()" id="success" bsModal #successModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-success" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Success</h4>
        </div>
        <div class="modal-body">
          <p>{{alertBody}}</p>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->



<div id="success" bsModal #successModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-success" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Success</h4>
      </div>
      <div class="modal-body">
        <p>{{modalBody}}</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="successModal.hide()">Close</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div bsModal #confirmModal="bs-modal" class="modal fade confirm-modal" tabindex="-1" role="dialog"
    aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header" align="center">
              <h4 class="modal-title">{{ modalHeader }}</h4>
        </div>
        <div class="modal-body">
            <p>{{ modalBody }}</p>
        </div>
        <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="confirmModal.hide()">Cancel</button>
        <button type="button" class="btn btn-primary" (click)="deleteData(selectedId)">Yes</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div>
