

tr {
  border: hidden;
}
// new scss
.p-badge.p-badge-warning {
  white-space: nowrap !important;
}

:host ::ng-deep {
  .p-paginator {
    .p-paginator-current {
      margin-left: auto;
    }
  }

  .p-progressbar {
    height: 0.5rem;
    background-color: #d8dadc;

    .p-progressbar-value {
      background-color: #607d8b;
    }
  }

  .table-header {
    display: flex;
    justify-content: space-between;
  }

  .p-calendar .p-datepicker {
    min-width: 25rem;

    td {
      font-weight: 400;
    }
  }

  .p-datatable.p-datatable-customers {
    .p-datatable-header {
      padding: 1rem;
      text-align: left;
      font-size: 1.5rem;
      background-color: #898485;
      color: white;
    }

    .p-paginator {
      padding: 1rem;
    }

    .p-datatable-thead > tr > th {
      text-align: left;
    }

    .p-datatable-tbody > tr > td {
      cursor: auto;
    }

    .p-dropdown-label:not(.p-placeholder) {
      text-transform: uppercase;
    }
  }

  /* Responsive */
  .p-datatable-customers .p-datatable-tbody > tr > td .p-column-title {
    display: none;
  }
}

.add_po_btn {
  background: none;
  border: none;
  color: #386fa4;
}
.add_po_btn:hover {
  text-decoration: underline;
}
.add_po_value {
  background: none;
  border: none;
  color: black;
}
.add_po_value:hover {
  text-decoration: underline;
}

.row-icon {
  display: flex;
  // padding-left: 15px;
  a {
    margin-right: 12px;
  }
}
i {
  cursor: pointer;
}

.column-box {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-auto-rows: auto;
}

.check-field {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  padding-left: 10px;
}
.reject-badge {
  background-color: #f44336;
  color: #f8f9fa;
  border: none;
  border-radius: 10px;
  display: inline-block;
  padding: 0 0.5rem;
  text-align: center;
  font-size: 0.75rem;
  font-weight: 700;
  min-width: 1.5rem;
  height: 1.5rem;
  line-height: 1.5rem;
  cursor: pointer;
  width: 70px;
}

.reject-badge:focus-visible {
  border: none;
  outline: none;
}

.reject-badge:focus {
  border: none;
  outline: none;
}

.input-span-icon {
  display: flex;
  align-items: center;
  flex-direction: row;
}
.export-to-excel {
  font-size: 1.5rem;
  cursor: pointer;
  margin-left: 5px;
}
.date-icons {
  display: flex;
  align-items: center;
}
.soci-icons {
  display: flex;
  align-items: center;
}
.name-icons {
  display: flex;
  align-items: center;
}
.quote-icons {
  display: flex;
  align-items: center;
}
.Q-Date-icons {
  display: flex;
  align-items: center;
}
.amount-icons {
  display: flex;
  align-items: center;
}
.PO-icons {
  display: flex;
  align-items: center;
}
.PO_date-icons {
  display: flex;
  align-items: center;
}
.fo-icons {
  display: flex;
  align-items: center;
}
.status-icons {
  display: flex;

}
:host ::ng-deep {
  .p-datatable {
      min-height: 500px !important;
  }
}

@media screen and (max-width: 960px) {
  :host ::ng-deep {
    .p-datatable {
      &.p-datatable-customers {
        .p-datatable-thead > tr > th,
        .p-datatable-tfoot > tr > td {
          display: none !important;
        }

        .p-datatable-tbody > tr {
          border-bottom: 1px solid var(--layer-2);

          > td {
            text-align: left;
            display: block;
            border: 0 none !important;
            width: 100% !important;
            float: left;
            clear: left;
            border: 0 none;

            .p-column-title {
              padding: 0.4rem;
              min-width: 30%;
              display: inline-block;
              margin: -0.4rem 1rem -0.4rem -0.4rem;
              font-weight: bold;
            }

            .p-progressbar {
              margin-top: 0.5rem;
            }
          }
        }
      }
    }
  }
}
.badge{
  margin-left: -30px;
}