<!--/.col-->

  <!--/.col-->
  <div class="form-group">
    <p-accordion class="p-accordion">
        <p-accordionTab class="p-accordionTab" [selected]="true">
            <p-header class="p-header">
                <i class="cil-info"></i>
                <span class="accordion-header">Booking Details</span>
            </p-header>
                  <div>
                    <table class="table table-borderless">
                      <tbody>
                        <tr>
                          <td>Status</td>
                          <td>2 Raising Booking Request - Submitted</td>
                          <td>Request Date</td>
                          <td>10/1/2021</td>
                        </tr>
                        <tr>
                            <td>Booking No</td>
                            <td>BK-00992</td>
                            <td>Branch/ Site</td>
                            <td>XXXX</td>
                          </tr>
                        <tr>
                          <td>Booking Reason</td>
                          <td>Demo</td>
                          <td>Request Date</td>
                          <td>9/3/2021</td>
                        </tr>
                        <tr>
                            <td>Customer</td>
                            <td>Parkway Singapore</td>
                            <td></td>
                            <td></td>
                          </tr>
                          <tr>
                            <td>Preferred Date of Delivery </td>
                            <td>10/13/2021</td>
                            <td>Preferred Date of Collection </td>
                            <td>12/13/2021</td>
                          </tr>
                          <tr>
                            <td>Demo Duration</td>
                            <td>2 months</td>
                            <td></td>
                            <td></td>
                          </tr>
                          <tr>
                            <td>Ship-to Department/ Ward</td>
                            <td>Ward 1, </td>
                            <td></td>
                            <td></td>
                          </tr>
                          <tr>
                            <td>Shipment to Contact Name</td>
                            <td>XXXXXX</td>
                            <td>Ship to Contact Number</td>
                            <td>XXXXXXXX</td>
                          </tr>
                          <tr>
                            <td>Remarks</td>
                            <td></td>
                            <td></td>
                            <td></td>
                          </tr>
                          <tr>
                            <td>Loan start date</td>
                            <td></td>
                            <td>Loan end date</td>
                            <td></td>
                          </tr>
                      </tbody>
                    </table>
                  </div>
        </p-accordionTab>
    </p-accordion>
  </div>