<table class="table table-bordered">
    <thead>
        <tr>
            <ng-container *ngFor="let header of headers; let i=index; let last = last;">
                <th *ngIf="!last">{{ header }}</th>
                <th *ngIf="last" width="220px">{{ header }}</th>
            </ng-container>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let data of tableData; let i=index">
            <!-- <td>{{ data.created_at | date:'dd-MMM-yyyy' || '' }}</td>
            <td><a href="#" [routerLink]="['/' + path +'/', data.id, 'view']">{{ data.id }}</a></td>
            <td>{{ data.comapany_name  || ''}}</td>
            <td>{{ data.validity_date | date:'dd-MMM-yyyy' || '' }}</td>
            <td><i class="fa fa-circle fa-lg" [ngClass]="(data.active==1 ? 'active' : 'inactive')"></i></td>
            <td style="width: 10%;">{{ data.status || '' }}</td> -->
            <td>{{ data.data_area_id || '' }}</td>
            <td>{{ data[key] || '' }}</td>
            <td>{{ data[key + '_code'] || '' }}</td>
            <td><i class="fa fa-circle fa-lg" [ngClass]="(data.is_active == 1 ? 'active' : 'inactive')"></i></td>
            <td style="width: 5%;">
                <a href="#" [routerLink]="['/' + path + '/', data.id, 'edit']" class="fa fa-edit"></a>
                <button type="button" (click)="deleteData(data.id)" class="btn btn-danger">Delete</button>
            </td>
        </tr>
    </tbody>
</table>