th {
    text-align: center;
    border:hidden;
    border-top: gray;
    border-bottom: gray;
}

table {
    border: 1px solid gray;
    border-collapse: separate;
    border-spacing: 0;
}

td {
    text-align: center;
    border: hidden;
}

.active{
    color: green;
}

.inactive{
    color: red;
}

