<div class="animated fadeIn">
  <form
    name="systemAdminForm"
    #systemAdminForm="ngForm"
    (ngSubmit)="onSubmit()"
  >
    <div class="col-md-12">
      <div class="row header pt-3 pb-3">
        <div class="col-lg-11 col-md-11 col-sm-11">
          <h3 class="title text-dark"><b>System Admin</b></h3>
        </div>
        <div class="col-lg-1 col-md-1 col-sm-1">
          <!-- <button
            type="submit"
            class="btn btn-primary btn-fill pull-right form-control"
            (click)="addSystemAdmin()"
          >
            <i class="pi pi-plus"></i>
          </button> -->
        </div>
      </div>
      <div class="card-header row" style="background-color: #f6f6f6">
        <i class="pi pi-pencil"></i>
        <span class="ml-2"><b>System Admin Setup</b></span>
      </div>
      <!-- table -->
      <div class="row mt-4">
        <div class="col-le-12 col-md-12 col-sm-12">
          <p-table
            #dt
            [value]="adminRole"
            styleClass="p-datatable-gridlines"
            [globalFilterFields]="['full_name', 'status', 'created_at']"
            [paginator]="true"
            [rows]="10"
            [showCurrentPageReport]="true"
            [rowsPerPageOptions]="[{ showAll: 'All' }, 10, 25, 50]"
            currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
          >
            <ng-template pTemplate="header">
              <tr align="center">
                <th width="20%" class="text-center">User Name</th>
                <th class="text-center" width="20%">Role</th>
                <th class="text-center" width="20%">Creaed Date</th>
                <th class="text-center" width="15%">Action</th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-role>
              <tr align="center">
                <td class="text-center">{{ role.users.full_name }}</td>
                <td class="text-center">{{ role.role.name }}</td>
                <td class="text-center">
                  <div *ngIf="role.created_at">
                    {{ role.created_at | date: "MM-dd-yyyy" || "" }}
                  </div>
                  <div *ngIf="!role.created_at">_</div>
                </td>
                <td class="text-center">
                  <a [routerLink]="" routerLinkActive="router-link-active">
                    <i class="fa fa-edit"></i>
                  </a>
                </td>
              </tr>
            </ng-template>
          </p-table>
        </div>
      </div>
      <div class="pt-4 pb-4">
        <table style="width: 100%" class="table table-bordered">
          <thead>
            <tr style="background-color: #f6f6f6">
              <th colspan="6" style="padding: 10px 20px">Admin Setup</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td width="50%"></td>
              <td class="text-center" width="10%">All</td>
              <td class="text-center" width="10%">Create</td>
              <td class="text-center" width="10%">Edit</td>
              <td class="text-center" width="10%">Delete</td>
              <td class="text-center" width="10%">Approval</td>
            </tr>
            <tr>
              <td width="50%">Admin Profile</td>
              <td class="text-center" width="10%">
                <input class="check-box" type="checkbox" name="profile_all" />
              </td>
              <td class="text-center" width="10%">
                <input
                  class="check-box"
                  type="checkbox"
                  name="profile_create"
                />
              </td>
              <td class="text-center" width="10%">
                <input class="check-box" type="checkbox" name="profile_edit" />
              </td>
              <td class="text-center" width="10%">
                <input
                  class="check-box"
                  type="checkbox"
                  name="profile_delete"
                />
              </td>
              <td class="text-center" width="10%">
                <input
                  class="check-box"
                  type="checkbox"
                  name="profile_approve"
                />
              </td>
            </tr>
            <tr>
              <td width="50%">Admin Access</td>
              <td class="text-center" width="10%">
                <input class="check-box" type="checkbox" name="access_all" />
              </td>
              <td class="text-center" width="10%">
                <input class="check-box" type="checkbox" name="access_create" />
              </td>
              <td class="text-center" width="10%">
                <input class="check-box" type="checkbox" name="access_edit" />
              </td>
              <td class="text-center" width="10%">
                <input class="check-box" type="checkbox" name="access_delete" />
              </td>
              <td class="text-center" width="10%">
                <input
                  class="check-box"
                  type="checkbox"
                  name="access_approve"
                />
              </td>
            </tr>
            <tr>
              <td colspan="6">
                <input
                  class="check-box mr-3"
                  type="checkbox"
                  name="reset_password"
                />
                <label for="reset_password">Reset Password</label>
              </td>
            </tr>
            <!-- <tr>
              <td colspan="6">
                <input class="check-box mr-3" type="checkbox" name="web_app" />
                <label for="web_app">Web Application</label>
              </td>
            </tr> -->
            <!-- <tr>
              <td colspan="6">
                <input
                  class="check-box mr-3"
                  type="checkbox"
                  name="mobile_app"
                />
                <label for="mobile_app">Mobile Application</label>
              </td>
            </tr> -->
          </tbody>
        </table>
      </div>
      <div class="col-lg-12 submit-button mt-5" align="center">
        <div class="action-btn">
          <button
            type="button"
            class="btn btn-outline-primary cancel-btn"
            (click)="resetForm()"
          >
            CANCEL
          </button>
          <button type="button" class="btn btn-primary save-btn">SAVE</button>
        </div>
        <!-- <div class="form-group">
          <button
            type="button"
            class="btn btn-outline-primary cancel-btn"
            (click)="resetForm()"
          >
            CANCEL
          </button>
          <button class="btn btn-primary px-5" type="submit">SAVE</button>
        </div> -->
      </div>
    </div>
  </form>
</div>
