@import "../styles/database_table";
.th-icons {
  display: flex;
  align-items: center;
}
.sku-icons {
  display: flex;
  align-items: center;
}
.product-icons {
  display: flex;
  align-items: center;
}
.agency-icons {
  display: flex;
  align-items: center;
}
.desc-icons {
  display: flex;
  align-items: center;
}
.status-icons {
  display: flex;
  align-items: center;
}
.booking-icons {
  display: flex;
  align-items: center;
}
:host ::ng-deep {
  .p-datatable {
      min-height: 500px !important;
  }
}

