<div class="main">

    <div class="heading">
        Update Profile
    </div>
    <div class="innerMain">
        <div class="userInfo">
            <div class="userName">
                <label class="userLable" for="userName"> User Name </label>
                <input *ngIf="userName" type="text" name="userName" value="{{userName}}" readonly>
                <input *ngIf="!userName" type="text" name="userName" value="No Data Available">
            </div>
    
            <div class="userName">
                <label class="userLable" for="userRoles"> Role(s) </label>
                <input *ngIf="!userName" type="text" name="userName" value="No Data Available">
                <input *ngIf="userRoleName" type="text" name="userRoles" value="{{userRoleName}}" readonly>
            </div>
    
            <div class="userSignature">
                <label class="userLable" for="userSignature"> Signature </label>
                <input type="file" (change) = "onImageUpload($event)"  name="userSignature" >
                <span class="imageError" *ngIf="imageMsg"> Only PNG images are Allowed. </span>
            </div>
        </div>

        <div #pdfTable *ngIf="url" class="pdfTable" id="pdfTable">
            <div class="imageDisplayDiv" style="width: 100%; margin-top: 25px;">
              <div class="show-image">
                <img class="imageDisplayed" [src]="url" alt="" />
              </div>
            </div>
          </div>
          
    </div>


    <div class="uploadImage">
        <div class="uploadBtn">
        <button
          type="button"
          class="btn btn-primary btn-sm m-2 file-upload"
          role="button"
          rel="nofollow"
          target="_blank"
          (click)="saveSignatureImage()"
        >
          Save
          <input type="file" style="display: none" />
        </button>
        </div>
        <span class="imageError" *ngIf="uploadMessage"> Data Saved Successfully.... </span>
      
      </div>
</div>

<!-- display succes message -->
<!-- <div
  id="success"
  bsModal
  #successModal="bs-modal"
  class="modal fade"
  tabindex="-1"
  role="dialog"
  aria-labelledby="myModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-success" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Success</h4>
      </div>
      <div class="modal-body">
        <p>{{ successMessage }}</p>
      </div>
    </div>
  </div>
</div> -->
