



<div class="animated fadeIn">
    <div class="col-lg col-md-6">
        <div class="card rcorners">
            <div class="card-header row" style="background-color: #898485; color: white;">
                <div style="padding-left: 20px;">
                    <h2 style="    font-family: sans-serif;
                    font-weight: 600;">Update Profile</h2>
                </div>
               
            </div>
            
            </div>
        </div>
    </div>
    <form>
    <div class="col-sm-8">
    <div class="row">
        <div class="col-md-5 text-header">
            User Name
        </div>
        <div class="col-md-5">
            <input style="margin-bottom: 10px;" pInputText formControlName="lead_owner" class="form-control" placeholder="Seion Lee" type="input">
        </div>
    </div>
    </div>

    <div class="col-sm-8">
        <div class="row">
            <div class="col-md-5 text-header">
               Roles(s)
            </div>
            <div class="col-md-5">
                <input style="margin-bottom: 10px;" pInputText formControlName="lead_owner" class="form-control" placeholder="FSSM" type="input">
            </div>
        </div>
        </div>
        <div class="col-sm-8">
            <div class="row">
                <div class="col-md-5 text-header">
                   Signature
                </div>
                <div class="col-md-5">
                    <input style="height: 10rem;" pInputText formControlName="lead_owner" class="form-control" placeholder="" type="input">
                </div>
            </div>
            </div>

            <div class="download-btn">
                <input
                  type="file"
                  class="file-input"
                  multiple
                  (change)="onFileSelected($event)"
                  #fileUpload
                />
                <button
                  type="button"
                  class="btn btn-primary btn-sm m-2 file-upload"
                  role="button"
                  rel="nofollow"
                  target="_blank"
                  (click)="fileUpload.click()"
                >
                  Upload Image
                  <input #fileInput type="file" style="display: none" />
                </button>
              </div>
    </form>

    

  
  