<div>
    <button type="button" class="btn btn-primary" >Quotation Approval</button>
    <button type="button" class="btn btn-secondary" >SOCI Approval</button>
  </div>
<div class="card-header row" style="background-color: #898485; color: white;">
    <div style="padding-left: 20px;">
        <h2>Pending Quotation</h2>
    </div>
   
    <div class="col-lg col-sm-4;" align='right'>
        <input style="width: 25%;" class="form-control" placeholder="Search" type="text" >

    </div>
    
        <img style="width: 22px; margin: 0px 8px 0px 0px;" src="../../../../assets/img/icons/Vector (2).svg">
        <img style="width: 22px;" src="../../../../assets/img/icons/Vector (1).svg">
        <img style="width: 22px; margin: 7px;" src="../../../../assets/img/icons/vertcalLines.svg">
</div>

<table class="table table-hover table-striped">
    <thead>
        <tr>
                  <th>Created date</th>
                  <th>FSS Name</th>
                  <th>Qutation ID</th>
                  <th>Company Name</th>
                  <th>Validity Date</th>
                  <th>Reason</th>
                  <th>Amount (RM)</th>
        </tr>
    </thead>
</table>



