.opportunity-booking-header {
    padding: 20px 20px 0px 20px;
}
.create-button {
    text-transform: uppercase;
    width: fit-content;
    padding: 1px 20px;
}
.p-accordion .table > tbody > tr:nth-child(even) > td,
.p-accordion .table > tbody > tr:nth-child(odd) > td 
{ background-color : #fff; }
.table th, .table td { padding: 0.8rem; }
.table thead th {
    padding: 10px 3px; 
    background-color: #e9e9e9; 
    border-bottom: none;
}