<div class="custom-footer">
  <div class="form-group">
    <p-accordion class="p-accordion">
      <p-accordionTab class="p-accordionTab" [selected]="true">
        <p-header class="p-header">
          <i class="cil-info"></i>
          <span class="accordion-header">Demo Bookings</span>
        </p-header>
        <div class="form-group" *ngIf="show">
          <div class="animated fadeIn">
            <!-- bookings list can show here -->
          </div> 
        </div>
        <div class="d-flex justify-content-center" *ngIf="!show">
          <button type="button" class="btn btn-sm btn-primary create-button" (click)="navToBooking($event)">create booking request</button>
        </div>
      </p-accordionTab>
    </p-accordion>
  </div>  
</div>
