dms-expand-panel.p-0 .p-accordion .p-accordion-content {
  padding: 0;
}

dms-expand-panel.pt-0 .p-accordion .p-accordion-content {
  padding-top: 0;
}

dms-expand-panel.pb-0 .p-accordion .p-accordion-content {
  padding-bottom: 0;
}

dms-expand-panel.pl-0 .p-accordion .p-accordion-content {
  padding-left: 0;
}

dms-expand-panel.pr-0 .p-accordion .p-accordion-content {
  padding-right: 0;
}

.soci-list-badges .p-badge {
  white-space: nowrap !important;
}

.back-p-btn .p-button.p-button-outlined {
  color: #000000 !important;
}

.p-hidden-accessible {
  display: none;
}

.unit-drop .p-dropdown {
  width: 100% !important;
  background-color: #1c5fab !important;
  border: none !important;
  line-height: 35px !important;
}

.unit-drop .p-dropdown .p-dropdown-trigger {
  color: #f8f9fa !important;
}

.unit-drop .p-dropdown .p-dropdown-label {
  color: white !important;
  font-size: 11px !important;
  text-align: end !important;
}
.unit-drop .p-dropdown-panel .p-dropdown-items .p-dropdown-item {
  color: white !important;
}
.unit-drop .p-dropdown-panel .p-dropdown-items .p-dropdown-item.p-highlight {
  background-color: #1c5fab !important;
  color: white !important;
  font-size: 13px !important;
}

.unit-drop
  .p-dropdown-panel
  .p-dropdown-items
  .p-dropdown-item:not(.p-highlight):not(.p-disabled):hover {
    background-color: #6c757d69 !important;
  color: white !important;
}
.unit-drop .p-dropdown .p-dropdown-panel {
  background-color: #1c5fab !important;
}
