dms-expand-panel.p-0 .p-accordion .p-accordion-content {
  padding: 0;
}

dms-expand-panel.pt-0 .p-accordion .p-accordion-content {
  padding-top: 0;
}

dms-expand-panel.pb-0 .p-accordion .p-accordion-content {
  padding-bottom: 0;
}

dms-expand-panel.pl-0 .p-accordion .p-accordion-content {
  padding-left: 0;
}

dms-expand-panel.pr-0 .p-accordion .p-accordion-content {
  padding-right: 0;
}

.soci-list-badges .p-badge {
  white-space: nowrap !important;
}

.back-p-btn .p-button.p-button-outlined {
  color: #000000 !important;
}

