<div class="mt-2 ml-4 mr-4 mb-2" >
    <div class="p-header">
         <span>Account Listing</span>
        <span class="p-input-icon-left" >
            <i class="pi pi-search"></i>
            <input type="text" pInputText placeholder="       Search"  
            [(ngModel)]="search_text"  class="search"/>
        </span> 
        <span class="pi pi-filter filter-icon" ></span>
        <span class="pi pi-file-excel file-excel-icon"></span>
        <span class="pi pi-pause pause-icon"></span>
    </div>
    <div class="data-table">
        <table class="table table-striped">
            <thead>
              <tr>
                <th scope="col">Created Date</th>
                <th scope="col">Customer Id</th>
                <th scope="col">Company Name</th>
                <th scope="col">Contact Name</th>
                <th scope="col">Email</th>
                <th scope="col">Phone</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">14-10-2021</th>
                <td><a href="#"> 12345</a></td>
                <td><a href="#"> Company Abc</a></td>
                <td>Aron Aziz</td>
                <td><a href="">abc@gmail.com</a></td>
                <td><a href="">1234234123</a></td>
              </tr>
              <tr>
                <th scope="row">14-10-2021</th>
                <td><a href="#"> 12345</a></td>
                <td><a href="#"> Company Abc</a></td>
                <td>Aron Aziz</td>
                <td><a href="">abc@gmail.com</a></td>
                <td><a href="">1234234123</a></td>
              </tr>
              <tr>
                <th scope="row">14-10-2021</th>
                <td><a href="#"> 12345</a></td>
                <td><a href="#"> Company Abc</a></td>
                <td>Aron Aziz</td>
                <td><a href="">abc@gmail.com</a></td>
                <td><a href="">1234234123</a></td>
              </tr>
              <tr>
                <th scope="row">14-10-2021</th>
                <td><a href="#"> 12345</a></td>
                <td><a href="#"> Company Abc</a></td>
                <td>Aron Aziz</td>
                <td><a href="">abc@gmail.com</a></td>
                <td><a href="">1234234123</a></td>
              </tr>
              <tr>
                <th scope="row">14-10-2021</th>
                <td><a href="#"> 12345</a></td>
                <td><a href="#"> Company Abc</a></td>
                <td>Aron Aziz</td>
                <td><a href="">abc@gmail.com</a></td>
                <td><a href="">1234234123</a></td>
              </tr>
              <tr>
                <th scope="row">14-10-2021</th>
                <td><a href="#"> 12345</a></td>
                <td><a href="#"> Company Abc</a></td>
                <td>Aron Aziz</td>
                <td><a href="">abc@gmail.com</a></td>
                <td><a href="">1234234123</a></td>
              </tr>
              <tr>
                <th scope="row">14-10-2021</th>
                <td><a href="#"> 12345</a></td>
                <td><a href="#"> Company Abc</a></td>
                <td>Aron Aziz</td>
                <td><a href="">abc@gmail.com</a></td>
                <td><a href="">1234234123</a></td>
              </tr>
              <tr>
                <th scope="row">14-10-2021</th>
                <td><a href="#"> 12345</a></td>
                <td><a href="#"> Company Abc</a></td>
                <td>Aron Aziz</td>
                <td><a href="">abc@gmail.com</a></td>
                <td><a href="">1234234123</a></td>
              </tr>
              
              <tr>
                <th scope="row">14-10-2021</th>
                <td><a href="#"> 12345</a></td>
                <td><a href="#"> Company Abc</a></td>
                <td>Aron Aziz</td>
                <td><a href="">abc@gmail.com</a></td>
                <td><a href="">1234234123</a></td>
              </tr>
              <tr>
                <th scope="row">14-10-2021</th>
                <td><a href="#"> 12345</a></td>
                <td><a href="#"> Company Abc</a></td>
                <td>Aron Aziz</td>
                <td><a href="">abc@gmail.com</a></td>
                <td><a href="">1234234123</a></td>
              </tr>
              <tr>
                <th scope="row">14-10-2021</th>
                <td><a href="#"> 12345</a></td>
                <td><a href="#"> Company Abc</a></td>
                <td>Aron Aziz</td>
                <td><a href="">abc@gmail.com</a></td>
                <td><a href="">1234234123</a></td>
              </tr>
              <tr>
                <th scope="row">14-10-2021</th>
                <td><a href="#"> 12345</a></td>
                <td><a href="#"> Company Abc</a></td>
                <td>Aron Aziz</td>
                <td><a href="">abc@gmail.com</a></td>
                <td><a href="">1234234123</a></td>
              </tr>
              <tr>
                <th scope="row">14-10-2021</th>
                <td><a href="#"> 12345</a></td>
                <td><a href="#"> Company Abc</a></td>
                <td>Aron Aziz</td>
                <td><a href="">abc@gmail.com</a></td>
                <td><a href="">1234234123</a></td>
              </tr>
           
            </tbody>
          </table>
          <p-paginator [rows]="pageItems" [rowsPerPageOptions]="[10,25,50,{ showAll: 'All' }]">
        </p-paginator>
    </div>
</div>