<div class="form-group">
  <p-accordion class="p-accordion">
      <p-accordionTab class="p-accordionTab" [selected]="true">
          <p-header class="p-header">
              <i class="cil-cart"></i>
              <span class="accordion-header">Main Demo Asset</span>
          </p-header>
          <div>
              <table class="table table-striped">
                  <thead class="grey">
                      <tr>
                          <th>No.</th>
                          <th>Product Name</th>
                          <th>SKU ID</th>
                          <th>Quantity</th>
                          <th >UOM</th>
                          <th>Availability</th>
                          <th >Expected Sales Price (RM)</th>
                          <th>Serial No</th>
                          <th >Available Qty</th>
                          <th>Cost (RM)</th>
                      </tr>
                  </thead>
                  <tbody>
                      <tr>
                          
                      </tr>
                  </tbody>
              </table>
              <div class="custom-footer d-flex justify-content-center">
                <button type="button" class="btn btn-sm btn-primary"><i class="fa fa-plus"></i> ADD</button>
              </div>
          </div>
          <div>
            <div class="bold-header">Accessories / Consumables</div>
            <table class="table table-striped">
                <thead class="grey">
                    <tr>
                        <th>No.</th>
                        <th>Product Name</th>
                        <th>SKU ID</th>
                        <th>Quantity</th>
                        <th >UOM</th>
                        <th>Availability</th>
                        <th >Expected Sales Price (RM)</th>
                        <th >Available Qty</th>
                        <th>Cost (RM)</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        
                    </tr>
                </tbody>
            </table>
            <div class="custom-footer d-flex justify-content-center">
              <button type="button" class="btn btn-sm btn-primary"><i class="fa fa-plus"></i> ADD</button>
            </div>
        </div>
      </p-accordionTab>
  </p-accordion>
</div>