<div class="form-group">
  <p-accordion class="p-accordion">
    <p-accordionTab class="p-accordionTab" [selected]="true">
      <p-header class="p-header">
        <i class="cil-cart"></i>
        <span class="accordion-header">Main Demo Asset</span>
      </p-header>
      <div *ngFor="let entry of mainAsset | keyvalue:onSortIgnore">
        <dms-asset-table
          *ngIf="entry.value; let value"
          [kind]="entry.key"
          [data]="value"
          [isAddable]="isAddable"
          [isAssignable]="isAssignable">
        </dms-asset-table>
      </div>
    </p-accordionTab>
  </p-accordion>
</div>
