@import "../styles/database_table";
.sku-icons {
  display: flex;
  align-items: center;
}
.booking-icons {
  display: flex;
  align-items: center;
}
.request-date {
  display: flex;
  align-items: center;
}
.prod-icons {
  display: flex;
  align-items: center;
}
.cust-icons {
  display: flex;
  align-items: center;
}
.booking-icons {
  display: flex;
  align-items: center;
}
.status-icons {
  display: flex;
  align-items: center;
}
.req-icons {
  display: flex;
  align-items: center;
}
