<p-table #dt [value]="bookingList" styleClass="p-datatable-booking-list" [rowHover]="true" [filterDelay]="0" [globalFilterFields]="['booking_no','request_date','requester']">
    <ng-template pTemplate="caption">
      <div class="table-header d-flex">
          <div class="d-flex">
                <div>Booking Listing</div>
                <div class="ml-2 mt-1"><a routerLink="new" routerLinkActive="router-link-active"><i class="icon-plus icons" style="color: #FFFFFF"></i></a></div>
          </div>
          <div class="p-input-icon-left">
              <i class="pi pi-search"></i>
              <input type="text" pInputText placeholder="Global Search" [(ngModel)]="search_text" (input)="getAll()"/>
          </div>
      </div>
    </ng-template>
    <ng-template pTemplate="header">
      <tr>
        <th pSortableColumn="booking_no" class="text-center">
            <div class="p-d-flex p-jc-between p-ai-center">
                Booking No
                <p-sortIcon field="booking_no"></p-sortIcon>
                <p-columnFilter type="text" field="booking_no" display="menu" class="p-ml-auto"></p-columnFilter>
            </div>
          </th>
        <th pSortableColumn="request_date" class="text-center">
          <div class="p-d-flex p-jc-between p-ai-center">
              Request Date
              <p-sortIcon field="request_date"></p-sortIcon>
              <p-columnFilter type="date" field="request_date" display="menu" class="p-ml-auto"></p-columnFilter>
          </div>
        </th>
        <th pSortableColumn="requester" class="text-center">
          <div class="p-d-flex p-jc-between p-ai-center">
               Requester
              <p-sortIcon field="requester"></p-sortIcon>
              <p-columnFilter type="text" field="requester" display="menu" class="p-ml-auto"></p-columnFilter>
          </div>
        </th>
        <th pSortableColumn="sku" class="text-center">
          <div class="p-d-flex p-jc-between p-ai-center">
                SKU
              <p-sortIcon field="sku"></p-sortIcon>
              <p-columnFilter type="text" field="sku" display="menu" class="p-ml-auto"></p-columnFilter>
          </div>
        </th>
        <th pSortableColumn="product_desc" class="text-center">
          <div class="p-d-flex p-jc-between p-ai-center">
              Product Desc
              <p-sortIcon field="product_desc"></p-sortIcon>
              <p-columnFilter type="text" field="product_desc" display="menu" class="p-ml-auto"></p-columnFilter>
          </div>
        </th>
        <th pSortableColumn="customer" class="text-center">
          <div class="p-d-flex p-jc-between p-ai-center">
              Customer
              <p-sortIcon field="customer"></p-sortIcon>
              <p-columnFilter type="text" field="customer" display="menu" class="p-ml-auto"></p-columnFilter>
          </div>
        </th>
        <th pSortableColumn="booking_reason" class="text-center">
          <div class="p-d-flex p-jc-between p-ai-center">
              Booking Reason
              <p-sortIcon field="booking_reason"></p-sortIcon>
              <p-columnFilter type="numeric" field="booking_reason" display="menu" class="p-ml-auto"></p-columnFilter>
          </div>
        </th>
        <th pSortableColumn="status" class="text-center">
            <div class="p-d-flex p-jc-between p-ai-center">
                Status
                <p-sortIcon field="status"></p-sortIcon>
                <p-columnFilter type="numeric" field="status" display="menu" class="p-ml-auto"></p-columnFilter>
            </div>
          </th>

        <th [style]="{'width':'5%'}">
        </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-bookingListRef>
      <tr class="p-selectable-row">

      </tr>
    </ng-template>
  </p-table>
  <p-paginator [rows]="pageItems" [rowsPerPageOptions]="[10,25,50,{ showAll: 'All' }]">
  </p-paginator>
