.rcorners{
    // border-radius: 10px;
    // overflow: hidden;
    border: none;
    border-radius: 10pt;
    box-shadow: 0 0 0 1pt grey;
    outline: none;
    transition: .1s;
}

.td-actions{
    font-size: 1.5em;
}

.card{
    padding: 0%;
}

.grey{
    background-color: rgb(245, 245, 245);
}

.white{
    background-color: white;
}

textarea {
	width: 100%;
}

.card-header{
    font-weight: bold;
}
