.rcorners{
    border-radius: 10px;
    overflow: hidden;
}

.td-actions{
    font-size: 1.5em;
}

.card{
    padding: 0%;
}

.grey{
    background-color: rgb(245, 245, 245);
}

.white{
    background-color: white;
}

textarea {
	width: 100%;
}

.card-header{
    font-weight: bold;
}
