<p-table class="table table-hover table-striped"
  #dt
  [value]="skuList"
  styleClass="p-datatable-customers"
  [rowHover]="true"
  [reorderableColumns]="true"
  responsiveLayout="scroll"
  [filterDelay]="0"
  [globalFilterFields]="['quote_id', 'company', 'amount', 'status']"
  [columns]="columns"
>
  <ng-template pTemplate="caption">
    <div class="table-header">
        <div class="d-flex">
            <div>FPS Request</div>
        </div>
    </div>
  </ng-template>
  <ng-template pTemplate="header" let-columns>
    <tr>
      <th [style]="{ width: '5%' }"></th>
      <th
        *ngFor="let column of columns"
        pSortableColumn="{{ column.field }}"
        class="text-center"
        pReorderableColumn
      >
        <div class="p-d-flex p-jc-between p-ai-center">
          {{ column.header }}
          <!-- <div class="icon-div">
            <p-sortIcon field="{{ column.field }}"></p-sortIcon>
          </div> -->
         
        </div>
      </th>
      <th [style]="{ width: '15%' }"></th>
    </tr>

  </ng-template>
  <ng-template pTemplate="body" let-fpsItem let-rowIndex="rowIndex + 1">
    <tr class="p-selectable-row">
      <td class="text-center">
        <span class="p-column-title"></span>
        {{ rowIndex }}
      </td>
      <td class="text-center">
        <span class="p-column-title">FPS Request  No</span>
        <a
          href="#"
          [routerLink]="['/fps/', fpsItem.id, 'fps-edit']"
          [queryParams]="{opport_id: fpsItem.fps_opportunity_id}"
        >{{ fpsItem.fps_no }}</a>
      </td>
      <td class="text-center">
        <span class="p-column-title">Opportunity ID</span>
        <a
          href="#"
          [routerLink]="['/opportunity/edit/', fpsItem.fps_opportunity_id]"
        >{{ fpsItem.fps_opportunity_id }}</a>
      </td>
      <td class="text-center">
        <span class="p-column-title">Quote ID</span>
        <a
          href="#"
          [routerLink]="['/quote/', fpsItem.fps_quote_id, 'edit']"
        >{{ fpsItem.fps_quote_id }}</a>
      </td>
      <td  class="text-center">
        <span class="p-column-title">Financial Institute</span>
        {{ fpsItem.financial_institution.title }}
      </td>
      <td class="text-center">
        <span class="p-column-title">Total Financial Amount</span>
        {{ fpsItem.fps_total_financial_amount }}
      </td>
      <td class="text-center">
        <span class="p-column-title">Tenure (Months)</span>
        {{ fpsItem.tenures.details_tenure }}
      </td>
      <td class="text-center">
        <span class="p-column-title">Monthly Payment Amount</span>
        {{ fpsItem.fps_monthly_payment_amount }}
      </td>
      <td class="text-center">
        <span class="p-column-title">Status</span>
        {{ showStatus(fpsItem.fps_status_id) }}
      </td>
      <td class="text-center">
        <a
          href="#"
          [routerLink]="['/fps/', fpsItem.id, 'fps-edit']"
          [queryParams]="{opport_id: fpsItem.fps_opportunity_id}"
          class="btn btn-sm btn-primary"
        >Edit</a>

        <button class="btn btn-sm btn-danger" (click)="deleteFps(fpsItem.id)" >Delete</button>
      </td>
    </tr>
  </ng-template>
</p-table>

<p-paginator
  (onPageChange)="paginate($event)"
  [rows]="pageItems"
  [totalRecords]="totalRecords"
  [rowsPerPageOptions]="[10, 25, 50, { showAll: 'All' }]"
>
</p-paginator>
