* {
  font-family: Arial, Helvetica, sans-serif;
}

.file-input {
  display: none;
}

.main-div {
  font-size: 8px !important;
  .template-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    // width: 41%;
    .temp-img {
      display: flex;
      justify-content: center;
      margin: 10px;
      img {
        width: 40%;
      }
    }
    .v2 {
      border: 1px solid #2a2a2a;
      width: 70%;
      margin: auto;
    }

    .info-text {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 7px;
      p {
        margin-bottom: 0px;
        color: black;
        font-weight: 500;
      }
    }
  }
  .card-body {
    margin-top: -40px;
  }
  .address-title {
    display: flex;
    flex-direction: row;
    margin: 10px;
    p {
      font-weight: bold;
      color: black;
    }
  }
  .first-table {
    display: flex;
    margin-left: -10px;
    color: black;
    th {
      font-style: normal;
      font-weight: normal;
    }
  }

  .main-text {
    display: flex;
    color: black;
    flex-direction: column;

    .text-1 {
      margin-top: 2px;
      .text-header {
        margin-bottom: 2px;
      }
      .text-para {
        margin-bottom: 1px;
      }
      .table-info-text {
        margin-bottom: 4px;
      }
    }
    .table-2 {
      display: flex;
      text-align: center;
      .table {
        margin-bottom: 5px;
      }
      .table th {
        border: 1px solid #23282c;
        background-color: #b7bee9;
        color: black;
      }
      td {
        border: 1px solid #23282c;
      }
    }

    .list-detail {
      .list-detail-p {
        margin-bottom: 3px;
      }
      .table-3 {
        display: flex;
        .table {
          margin-bottom: 2px;
        }
        .table th,
        .table td {
          color: black;
          padding: 0px;
        }
      }
    }

    .sub-info-text {
      .sub-info-p1 {
        margin-bottom: 2px;
      }
      .sub-info-p2 {
        margin-bottom: 2px;
      }
      .sub-info-p3 {
        margin-bottom: 2px;
      }
    }
    .sub-text-footer {
      display: flex;
      flex-direction: column;
      label {
        margin-bottom: 2px;
      }
      .company-name {
        margin-bottom: 1px;
      }
    }
  }
}
.show-image {
  img {
    overflow-x: visible;
    width: 100%;
  }
}
