<div class="card main-div">
  <div class="card-header page-heading-icon">
    <!-- <h1>Level Of Authority</h1> -->
    <div class="unit-head">
      <h2>Unit Setup</h2>
      <div>
        <!-- back-btn -->
        <p-button
          styleClass="p-button-outlined"
          class="back-p-btn"
          (click)="back()"
        >
          <ng-template pTemplate="content">
            <img
              src="../../../../assets/img/icons/back-arrow.svg"
              alt=""
              style="width: 17px"
            />
          </ng-template>
        </p-button>
      </div>
    </div>
  </div>
  <!-- [formGroup]="userSetupForm" -->
  <form [formGroup]="userSetupForm">
    <div class="card-body">
      <p class="title-text">
        <!-- <i class="pi pi-user-plus"></i> -->
        Details
      </p>

      <!-- Search-field -->
      <div class="row mt-3 mb-3">
        <div class="col-lg-1 col-md-1 col-sm-1 mt-2">
          <label>Company:<span class="red-star">*</span></label>
        </div>
        <div class="col-lg-11 col-md-11 col-sm-11">
          <p-autoComplete
            formControlName="dataAreaId"
            [suggestions]="filtereduser"
            (completeMethod)="filterProduct($event)"
            field="name"
            [dropdown]="true"
            [style]="{ width: '100%' }"
            [inputStyle]="{ width: '100%' }"
          >
            <ng-template let-product>
              <div class="product-item">
                <div></div>
              </div>
            </ng-template>
          </p-autoComplete>
        </div>
      </div>
      <!-- Name-field -->
      <div class="row mb-5">
        <div class="col-lg-1 col-md-1 col-sm-1 mt-2">
          <label style="width: 100px"
            >Unit Name: <span class="red-star">*</span></label
          >
        </div>
        <div class="col-lg-5 col-md-5 col-sm-5">
          <input
            type="text"
            pInputText
            formControlName="name"
            style="width: 100%"
          />
        </div>

        <!-- code -->
        <div class="col-lg-1 col-md-1 col-sm-1 mt-2">
          <label>Code:<span class="red-star">*</span></label>
        </div>
        <div class="col-lg-5 col-md-5 col-sm-5">
          <input
            type="text"
            pInputText
            formControlName="code"
            style="width: 100%"
          />
        </div>
      </div>

      <!-- accordian-1 -->
      <div class="accordion">
        <!-- parent-unit -->
        <p-accordion [multiple]="true" styleClass="customColor" activeIndex="0">
          <p-accordionTab header="Parent Unit">
            <div class="agency-text" *ngFor="let item of parenUnit">
              <!-- formControlName="parentUnit" -->
              <input
                type="text"
                class="form-control"
                [value]="item.official_name"
                readonly
                pInputText
                (click)="addParentUnit($event, item)"
                style="width: 100%"
              />
            </div>
          </p-accordionTab>
        </p-accordion>
        <!-- agency -->
        <p-accordion [multiple]="true" styleClass="customColor" activeIndex="0">
          <p-accordionTab header="Agency">
            <div
              *ngFor="let item of agency"
              class="p-field-checkbox check-field"
            >
              <p-checkbox
                name="group2"
                formArrayName="agency"
                [value]="item.agency"
                [inputId]="item.code"
                (click)="changeAgency(item)"
              ></p-checkbox>
              <label>{{ item.agency }}</label>
            </div>
          </p-accordionTab>
        </p-accordion>
        <!-- Menufacturer -->
        <p-accordion [multiple]="true" styleClass="customColor" activeIndex="0">
          <p-accordionTab header="Manufactures">
            <div
              *ngFor="let item of manufactures"
              class="p-field-checkbox check-field"
            >
              <p-checkbox
                name="group2"
                formControlName="manufacture"
                [value]="item.manufacturer"
                [inputId]="item.manufacturer_code"
                (onChange)="changeManufectures($event, item)"
              ></p-checkbox>
              <label>{{ item.manufacturer }}</label>
            </div>
          </p-accordionTab>
        </p-accordion>
      </div>

      <!-- accordian-2 -->
      <div class="accordion">
        <!-- OPC-unit -->
        <p-accordion [multiple]="true" styleClass="customColor" activeIndex="0">
          <p-accordionTab header="OPC">
            <div *ngFor="let item of opc" class="p-field-checkbox check-field">
              <p-checkbox
                name="group2"
                formControlName="opc"
                [value]="item.opc"
                [inputId]="item.opc_code"
                (onChange)="changeOPC(item)"
              ></p-checkbox>
              <label>{{ item.opc }}</label>
            </div>
          </p-accordionTab>
        </p-accordion>
        <!-- care area -->
        <p-accordion [multiple]="true" styleClass="customColor" activeIndex="0">
          <p-accordionTab header="Care Area">
            <!-- class="agency-text" -->
            <div
              class="p-field-checkbox check-field"
              *ngFor="let item of careArea"
            >
              <p-checkbox
                name="group2"
                formArrayName="careArea"
                [value]="item.care_area"
                [inputId]="item.code"
                (click)="selectCareArea(item)"
              >
              </p-checkbox>
              <label>{{ item.care_area }}</label>
              <!-- <input
                type="text"
                formArrayName="careArea"
                class="form-control"
                readonly
                [value]="item.care_area"
                (click)="selectCareArea(item)"
                pInputText
                style="width: 100%"
              /> -->
            </div>
          </p-accordionTab>
        </p-accordion>
        <!-- Principles -->
        <p-accordion [multiple]="true" styleClass="customColor" activeIndex="0">
          <p-accordionTab header="Principles">
            <div
              *ngFor="let item of principles"
              class="p-field-checkbox check-field"
            >
              <p-checkbox
                name="group2"
                formControlName="principles"
                [value]="item.product_group"
                [inputId]="item.product_group_code"
                (onChange)="changePrinciples(item)"
              ></p-checkbox>
              <label>{{ item.product_group }}</label>
            </div>
          </p-accordionTab>
        </p-accordion>
      </div>

      <div class="action-btn">
        <button
          type="button"
          class="btn btn-outline-primary cancel-btn"
          (click)="resetForm()"
        >
          CANCEL
        </button>
        <button
          type="button"
          class="btn btn-primary save-btn"
          (click)="createUnit()"
        >
          SAVE
        </button>
      </div>

      <div class="authority-table">
        <p-table
          #dt
          [value]="dummyUserSetupData"
          styleClass="p-datatable-authority"
          [rowHover]="true"
          responsiveLayout="scroll"
          [filterDelay]="0"
          [globalFilterFields]="[]"
        >
          <!-- Header -->
          <ng-template pTemplate="header">
            <div class="table-header-column">
              <tr
                align="center"
                style="background-color: #009aff !important; color: white"
              >
                <!-- created-date -->
                <th pSortableColumn="created_at" class="text-center">
                  <div class="column-design">
                    Created Date
                    <div class="date-icons">
                      <p-sortIcon field="created_at"></p-sortIcon>
                      <p-columnFilter
                        type="date"
                        field="created_at"
                        display="menu"
                        class="p-ml-auto"
                      ></p-columnFilter>
                    </div>
                  </div>
                </th>
                <!-- unit_name -->
                <th pSortableColumn="unit_name" class="text-center">
                  <div class="column-design">
                    Unit Name
                    <div class="name-icons">
                      <p-sortIcon field="unit_name"></p-sortIcon>
                      <p-columnFilter
                        type="text"
                        field="unit_name"
                        display="menu"
                        class="p-ml-auto"
                      ></p-columnFilter>
                    </div>
                  </div>
                </th>
                <!-- country -->
                <th pSortableColumn="country" class="text-center">
                  <div class="column-design">
                    Country
                    <div class="country-icons">
                      <p-sortIcon field="country"></p-sortIcon>
                      <p-columnFilter
                        type="text"
                        field="country"
                        display="menu"
                        class="p-ml-auto"
                      ></p-columnFilter>
                    </div>
                  </div>
                </th>
                <!-- main-unit -->
                <th pSortableColumn="main_unit" class="text-center">
                  <div class="column-design">
                    Main Unit
                    <div class="main_unit-icons">
                      <p-sortIcon field="main_unit"></p-sortIcon>
                      <p-columnFilter
                        type="text"
                        field="main_unit"
                        display="menu"
                        class="p-ml-auto"
                      ></p-columnFilter>
                    </div>
                  </div>
                </th>
                <!-- sub-unit -->
                <th pSortableColumn="sub_unit" class="text-center">
                  <div class="column-design">
                    Sub Unit
                    <div class="sub_unit-icons">
                      <p-sortIcon field="sub_unit"></p-sortIcon>
                      <p-columnFilter
                        type="text"
                        field="sub_unit"
                        display="menu"
                        class="p-ml-auto"
                      ></p-columnFilter>
                    </div>
                  </div>
                </th>
                <!-- action -->
                <th pSortableColumn="action" class="text-center">
                  <div class="column-design">
                    Action
                    <div class="action-icons"></div>
                  </div>
                </th>
              </tr>
            </div>
          </ng-template>

          <!-- Data -->
          <ng-template pTemplate="body" let-authority>
            <tr align="center">
              <td class="text-center">
                {{ authority.created_at | date: "MM-dd-yyyy" }}
              </td>
              <td class="text-center">
                {{ authority.name }}
              </td>
              <td class="text-center">
                {{ authority.country }}
              </td>
              <td class="text-center">
                {{ authority.main_unit }}
              </td>
              <td class="text-center">
                {{ authority.sub_unit }}
              </td>
              <td class="text-center">
                <a [routerLink]="" routerLinkActive="router-link-active">
                  <i class="fa fa-edit"></i>
                </a>
              </td>
            </tr>
          </ng-template>
        </p-table>
      </div>
    </div>
  </form>
</div>
