<div class="main-content" id="bodyContent" #bodyContent>
  <div class="download-btn">
    <input
      type="file"
      class="file-input"
      (change)="onFileSelected($event)"
      #fileUpload
    />
    <button
      type="button"
      class="btn btn-primary btn-sm m-2 file-upload"
      role="button"
      rel="nofollow"
      target="_blank"
      (click)="fileUpload.click()"
    >
      Upload Image
      <input #fileInput type="file" style="display: none" />
    </button>
    <button class="btn btn-primary btn-sm" (click)="downloadPDF()">
      Download Quotation
    </button>
  </div>
  <!-- style="width: 100%" -->
  <div class="card">
    <div #pdfTable class="" id="pdfTable">
      <div class="template-header">
        <div class="img-text">
          <div class="">
            <img
              src="../../../assets/img/logo.png"
              class="card-img-top"
              alt="..."
            />
          </div>
          <div class="vl"></div>
          <div class="v2"></div>
          <div class="head-text">
            <p> {{ quotationsTemplateData?.quotations?.companies?.address }}</p>
            <p><b>Telephone:</b> {{quotationsTemplateData?.quotations?.companies?.telephone_number}}</p>
            <p><b>Fax:</b> {{ quotationsTemplateData?.quotations?.companies?.fax }}</p>
            <p><b>Email:</b> {{ quotationsTemplateData?.quotations?.companies?.email }}</p>
            <a href="#">www.idsMED.com</a>
          </div>
        </div>
      </div>
      <div class="address-title">
        <p>
          {{ quotationsTemplateData?.quotations?.primary_contact }}
          <b> Company Name:</b>
          {{  quotationsTemplateData?.quotations?.customer?.company_name}}<br>
         <b>Address:</b>
         {{
            quotationsTemplateData?.quotations?.customer?.address
          }}
          
          <!-- Surabaya -->
        </p>
      </div>
      <div class="card-body">
        <div class="initial-info">
          <table class="table table-borderless">
            <tbody>
              <tr class="all-th-td-padding-bottom-none">
                <td >
                </td>
                <td></td>
                <td></td>
              </tr>
              <tr class="all-th-td-padding-top-bottom-none">
                <th scope="row"><b>No. Ref: </b></th>
                <td>
                  <span>:&nbsp;&nbsp;&nbsp;</span
                  >{{ quotationsTemplateData?.quotations?.quote_id }}
                </td>
                <th class="date-field-label"><b>Date :</b></th>
                <td class="date-field-data">
                  {{ quotationsTemplateData?.quotations?.created_at  | date: 'dd/MM/yyyy'}}
                </td>
              </tr>
            </tbody>
          </table>
        </div>

        <div class="main-text">
          <div  style="border: 1px solid lightgray;opacity: 0.5;"  contentEditable=true  data-text="Enter text here" [attr.contenteditable]="editable" id="headerContent" #headerContent 
          [innerText]="quotationContent?.header_content">

          {{ quotationContent?.header_content }}
          </div>

          <div>
            <table class="table table-bordered table-sm">
              <thead>
                <tr>
                  <th scope="col">BRAND</th>
                  <th scope="col">P/N</th>
                  <th scope="col">DESCRIPTION</th>
                  <th scope="col">PRICE LIST</th>
                </tr>
              </thead>
              <tbody>
                <tr class="main-table-data" *ngFor="let item of quotationsTemplateData?.quotations?.products">
                  <!-- there should be loop for all the products -->
                  <td></td>
                  <td> {{ item.name }} </td>
                  <td></td>
                  <td>  {{item.list_price}} </td>
                </tr>
              </tbody>
            </table>
          </div>
          <br>
          <br>
          
          <div style="border: 1px solid lightgray;opacity: 0.5;" class="list-detail" contentEditable=true data-text="Enter text here" [attr.contenteditable]="editable" id="footerContent" #footerContent
          [innerText]="quotationContent?.footer_content" >
          {{ quotationContent?.footer_content }}
          </div>
          <br />
            <p class="name-number">
              <span class="contact-name">ZulfaAlla</span><br />(0812-4920-1673)

              <span class="contact-name">
                {{quotationsTemplateData?.quotations?.sales_person?.full_name}}
              </span
              ><br />
            </p>
          <div class="previewSave">
            <button class="btn btn-primary" (click)='savePreviewContent()' >Save</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div #pdfTable class="" id="pdfTable">
    <div class="card" style="width: 100%" *ngIf="check">
      <div class="show-image">
        <img [src]="url" alt="" />
      </div>
    </div>
  </div>
</div>


<!-- display succes message -->
<div
id="success"
bsModal
#successModal="bs-modal"
class="modal fade"
tabindex="-1"
role="dialog"
aria-labelledby="myModalLabel"
aria-hidden="true"
>
<div class="modal-dialog modal-success" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <h4 class="modal-title">Success</h4>
    </div>
    <div class="modal-body">
      <p>{{ successMessage }}</p>
    </div>
  </div>
  <!-- /.modal-content -->
</div>
<!-- /.modal-dialog -->
</div>

<div
  (onHide)="reset()"
  id="success"
  bsModal
  #successModal="bs-modal"
  class="modal fade"
  tabindex="-1"
  role="dialog"
  aria-labelledby="myModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-success" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">{{ alertHeader }}</h4>
      </div>
      <div class="modal-body">
        <p>{{ alertBody }}</p>
      </div>
      <div class="modal-footer">
        <div class="form-check">
          <label class="form-check-label">
            <input
              type="radio"
              class="form-check-input"
              value=""
              name="optradio"
              (click)="onePDF()"
            />One pdf
          </label>
        </div>
        <div class="form-check">
          <label class="form-check-label">
            <input
              type="radio"
              class="form-check-input"
              value=""
              name="optradio"
              (click)="twoPDF()"
            />Two pdf
          </label>
        </div>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
<!-- alert -->

<!-- /.modal -->

<div
  (onHide)="reset()"
  bsModal
  #dangerModal="bs-modal"
  class="modal fade"
  tabindex="-1"
  role="dialog"
  aria-labelledby="myModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-danger" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">{{ alertHeader }}</h4>
      </div>
      <div class="modal-body">
        <p>{{ alertBody }}</p>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-primary"
          (click)="dangerModal.hide()"
        >
          Close
        </button>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
<!-- /.modal -->
