* {
  font-family: Arial, Helvetica, sans-serif;
}
// [contenteditable] {
//   padding: 10px;
// }
[contenteditable]:focus {
  outline: 1px solid lightgray;
  border-radius: 3px;
  width: 100%;
}

.file-input {
  display: none;
}
.download-btn {
  margin-right: 15px;
  text-align: end;
  margin-bottom: 10px;
  button {
    background-color: #1c5fab;
  }
}
.template-header {
  // display: flex;
  flex-direction: row;
  align-items: flex-start;
  margin-left: 10px;
  margin-top: 10px;
  justify-content: space-between;

  .img-text {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    .card-img-top {
      width: 150px;
    }
    .head-text {
      display: flex;
      flex-direction: column;
      margin-right: 13px;
      font-size: 16px;
      font-family: Arial, Helvetica, sans-serif;
      font-weight: 500;

      p {
        margin-bottom: 0px;
        color: black;
      }
    }
    .vl {
      border-left: 2px solid #2a2a2a;
      height: 100px;
      margin-left: 13px;
      padding: 4px;
    }
  }
  .headerImg{
    width: 780px;
    // text-align: end;
  }
  .headText{
    text-align: end;
  }
  .secondAddress{
    float: right;
    text-align: end;
    margin-right: 27px;
    margin-top: 20px;
  }
}
// .address-title {
//   display: flex;
//   flex-direction: row;
//   margin-left: 13px;
//   margin-top: 13px;
//   font-size: 17px;
//   color: black;
//   flex-direction: column;
// }

[contentEditable=true]:empty:not(:focus):before{
  content:attr(data-placeholder);
  color: grey;
}
.card-body {
  .card-title {
    margin-top: 13px;
    font-size: 17px;
    font-weight: bold;
    color: black;
  }

  .table {
    color: black;
    th {
      // width: 67px;
      font-weight: 100;
      padding-inline-start: 0px;
    }
    .name-field {
      text-decoration: underline;
      font-weight: bold;
    }
   
    }

  .main-text {
    display: flex;
    flex-direction: column;
    color: black;
    margin-top: 35px;
    font-size: 16px;

    // table.table-bordered {
    //   border: 1px solid black;
    //   margin-top: 20px;
    //   text-align: center;
    // }
    [contentEditable=true]:empty:not(:focus):before{
      content:attr(data-placeholder)
  }
    // table.table-bordered > thead > tr > th {
    //   border: 1px solid black;
    //   background-color: #b7bee9;
    // }
    // table.table-bordered > tbody > tr > td {
    //   border: 1px solid black;
    // }

    .list-detail {
      display: flex;
      flex-direction: column;
      margin-bottom: 15px;
      p {
        margin-bottom: 0px;
      }
      .list-data {
        display: flex;
        flex-direction: row;
        margin-left: 52px;
        .item-list {
          width: 20px;
        }
      }
    }
    .sub-text-footer {
      margin-bottom: 50px;
      .company-name {
        font-weight: 700;
        margin-bottom: 69px;
        display: inline-block;
      }
      .name-number {
        display: inline-block;
      }
    }
  }
}

.all-th-td-padding-top-bottom-none * {
  padding-bottom: 0;
}

.all-th-td-padding-bottom-none * {
  padding-bottom: 0;
}

.show-image {
  display: flex;
  flex-direction: row;
  justify-content: center;
  img {
    max-width: 100%;
  }
}
.previewSave{
  width: 30%;
  margin: auto;
  display: flex;
  margin-bottom: 15px;
  .saveButton{
    width: 110px;
    height: 45px;
  }
  .quotationDownload{
    width: 165px;
    height: 45px;
    margin-left: 15px;
  }
}
.topButtons{
  height: 65px;
  .loaderText{
    float: right;
    margin-right: 165px;
    margin-top: -15px;
    color: rgb(41, 136, 224);
  }
}
// #bodyContent{
//   .addressDetailMain{
//     display: flex;
//     .addressDetails{
//       margin-top: 15px;
//       table{
//         th{
//           width: 275px;
//           h5{
//             margin-bottom: 15px !important;
//           }
//         }
//       }
//     }
//   }
// }
// .productTable{
//   table{
//     thead,tbody{
//       tr{
//         // .descCol{
//         //   width: 600px;
//         // }
//         .numberCol{
//           width: 50px !important;
//         }
//         .unitPriceCol{
//           width: 110px ;
//         }
//         .totalPriceCol{
//           width: 110px ;
//         }
//       }
//     }
//   }
// }