* {
  font-family: Arial, Helvetica, sans-serif;
}
[contenteditable] {
  padding: 10px;
}
[contenteditable]:focus {
  outline: 1px solid lightgray;
  border-radius: 3px;
}
.table th,
.table td {
  padding: 0px;
}
.file-input {
  display: none;
}
.download-btn {
  margin-right: 15px;
  text-align: end;
  margin-bottom: 10px;
  button {
    background-color: #1c5fab;
  }
}
.template-header {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  margin-left: 10px;
  margin-top: 10px;
  justify-content: space-between;

  .img-text {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    .card-img-top {
      width: 150px;
    }
    .head-text {
      display: flex;
      flex-direction: column;
      margin-right: 13px;
      font-size: 16px;
      font-family: Arial, Helvetica, sans-serif;
      font-weight: 500;

      p {
        margin-bottom: 0px;
        color: black;
      }
    }
    .vl {
      border-left: 2px solid #2a2a2a;
      height: 100px;
      margin-left: 13px;
    }
  }
}
.address-title {
  display: flex;
  flex-direction: row;
  margin-left: 13px;
  margin-right: 13px;
  margin-top: 13px;
  font-size: 17px;
  font-weight: bold;
  color: black;
}
.card-body {
  .card-title {
    margin-top: 13px;
    font-size: 17px;
    font-weight: bold;
    color: black;
  }

  .table {
    color: black;
    th {
      width: 75px;
      font-weight: 100;
      padding-inline-start: 0px;
    }
    .name-field {
      text-decoration: underline;
      font-weight: bold;
    }
    .date-field-label {
      width: 65px;
    }
    .date-field-data {
      padding-left: 0px;
    }
  }

  .main-text {
    display: flex;
    flex-direction: column;
    color: black;
    margin-top: 35px;
    font-size: 16px;

    table.table-bordered {
      border: 1px solid black;
      margin-top: 20px;
      text-align: center;
    }
    table.table-bordered > thead > tr > th {
      border: 1px solid black;
      background-color: #b7bee9;
    }
    table.table-bordered > tbody > tr > td {
      border: 1px solid black;
    }

    .list-detail {
      display: flex;
      flex-direction: column;
      margin-bottom: 15px;
      p {
        margin-bottom: 0px;
      }
      .list-data {
        display: flex;
        flex-direction: row;
        margin-left: 52px;
        .item-list {
          width: 20px;
        }
      }
    }
    .sub-text-footer {
      display: flex;
      flex-direction: column;
      .company-name {
        font-weight: 700;
        margin-bottom: 69px;
      }
    }
  }
}

.all-th-td-padding-top-bottom-none * {
  // padding-top:1px;
  padding-bottom: 0;
}

.all-th-td-padding-bottom-none * {
  padding-bottom: 0;
}

.show-image {
  display: flex;
  flex-direction: row;
  justify-content: center;
  img {
    max-width: 100%;
  }
}
// @media only screen and (min-width: 320px) {
//     .table th,
//     .table td {
//       padding: 0px;
//     }
// }
// @media only screen and (min-width: 320px) {
//   .head-text {
//     margin-left: 0px;
//   }
//   .table th,
//   .table td {
//     padding: 0px;
//   }
//   //   .list-data {
//   //     display: flex;
//   //     flex-direction: row;
//   //     .list-group-1 {
//   //       margin-right: 20px;
//   //       margin-left: 13px;
//   //     }
//   //     .list-group-2 {
//   //       margin-right: 0px;
//   //       margin-left: 0px;
//   //       width: 122px;
//   //     }
//   //   }
// }
// @media only screen and (max-width: 360px) {
//   .v2 {
//     border: 1px solid #2a2a2a;
//     width: 152px;
//     margin-left: 0px;
//     margin-bottom: 0px;
//     margin-top: 10px;
//   }
// }

// @media only screen and (min-width: 360px) {
//   .img-text {
//     display: flex;
//     flex-direction: column;
//   }
//   .table th,
//   .table td {
//     padding: 0px;
//   }
// }
// @media only screen and (min-width: 375px) {
// }
// @media only screen and (max-width: 411px) {
//   .v2 {
//     border: 1px solid #2a2a2a;
//     width: 152px;
//     margin-left: 0px;
//     margin-bottom: 0px;
//     margin-top: 10px;
//   }
// }
// @media only screen and (min-width: 411px) {
//   .img-text {
//     display: flex;
//     flex-direction: column;
//   }
// }
// @media only screen and (min-width: 768px) {
//   .img-text {
//     display: flex;
//     flex-direction: row;
//     align-items: flex-start;
//   }
//   .vl {
//     border-left: 2px solid #2a2a2a;
//     height: 100px;
//     margin-left: 13px;
//   }
//   .table th,
//   .table td {
//     padding: 0px;
//   }
//   .item-table {
//     margin-left: 20px;
//   }
//   .item-list {
//     width: 20px;
//   }
//   //   .list-data {
//   //     display: flex;
//   //     flex-direction: row;
//   //     .list-group-1 {
//   //       margin-right: 21px;
//   //       margin-left: 38px;
//   //     }
//   //     .list-group-2 {
//   //       margin-right: 21px;
//   //       margin-left: 38px;
//   //     }
//   //   }
// }
// @media only screen and (min-width: 1024px) {
//   // .img-text {
//   //     display: flex;
//   //     flex-direction: row;
//   //     align-items: flex-start;
//   //   }
// }
