.rcorners{
  // border-radius: 20px;
  overflow: hidden;
}

th {
  text-align: center;
  border:hidden;
  border-top: gray;
  border-bottom: gray;
}

table {
  border: 1px solid gray;
  border-collapse: separate;
  border-spacing: 0;
}

td {
  text-align: center;
  border: hidden;
}

.buttonColor {
  background-color: #00538a;
  border-color: #00538a;
}

.active{
  color: green;
}

.inactive{
  color: red;
}

.card-body{
  padding: 0%;
}

.card {
  background-color: var(--body-color);
  border: none;
}

.card-header{
  border: 1;
}

.card-body{
  padding: 0%;
  background-color: white;
  border: white;
}
.card-footer {
  opacity: 1;
  border: none;
  padding: 0%;
  padding-top: 20px;
}
.create-button {
  a {
      color: white;
      font-size: 25px;
      padding: 5px 10px;
  }
}
