.rcorners {
  // border-radius: 20px;
    overflow: hidden;
}

.card-body {
    padding: 0%;
    .submit-button {
        padding-top: 50px;
    }
}

.card-row {
    padding: 50px;
    .row {
        padding: 8px 15px;
    }
}

.card {
    background-color: var(--body-color);
}

.card-header {
    border: 1;
}

.card-body {
    padding: 0%;
    background-color: white;
    border: white;
}
.card-footer {
    opacity: 1;
    border: none;
    padding: 0%;
    padding-top: 20px;
}

.hide {
    display: none;
}

.show {
    display: block;
}

.table-striped>tbody>tr:nth-child(odd)>td, 
.table-striped>tbody>tr:nth-child(odd)>th {
   background-color: white; // Choose your own color here
}

.table-striped>tbody>tr:nth-child(even)>td, 
.table-striped>tbody>tr:nth-child(even)>th {
   background-color: rgb(242 242 242); // Choose your own color here
}

.alert {
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
}
