<p-table  [loading]="loading" class="table table-hover table-striped"
  #dt
  [value]="datasource"
  styleClass="p-datatable-customers"
  [rowHover]="true"
  [reorderableColumns]="true"
  responsiveLayout="scroll"
  [filterDelay]="0"
  [globalFilterFields]="['created_at', 'company', 'amount', 'status']"
  [columns]="columns"
>
  <ng-template pTemplate="caption">
    <div class="table-header">
      <span class="p-input-icon-left">
        Lead Listing
        <span class="dropdown" dropdown>
          <a
            id="link-dropdown"
            dropdownToggle
            class="dropdown-toggle"
            aria-controls="your-dropdown"
          >
            <i
              class="icon-plus icons"
              style="color: white; font-size: 24px"
            ></i>
          </a>
          <div
            id="your-dropdown"
            class="dropdown-menu"
            aria-labelledby="link-dropdown"
            *dropdownMenu
          >
            <a class="dropdown-item" href="#" [routerLink]="['/leads/create']"
              ><i class="pi pi-user-plus"></i>Create Lead</a
            >
            <a class="dropdown-item" href="#" [routerLink]="['/leads/import']"
              ><i class="pi pi-file-excel"></i>Import Lead</a
            >
          </div>
        </span>
      </span>
      <div>
        <span class="p-input-icon-left">
          <i class="pi pi-search"></i>
          <input
            type="text"
            pInputText
            placeholder="Global Search"
            (input)="getAll()"
            [(ngModel)]="search_text"
          />
        </span>
        <img
          style="width: 22px;"
          src="../../../../assets/img/icons/Vector (2).svg"
        />
      
        <img
          style="width: 22px; margin: 7px"
          src="../../../../assets/img/icons/vertcalLines.svg"
        />
      </div>
    </div>
  </ng-template>
  <ng-template pTemplate="header" let-columns>
    <tr>
      <th
        *ngFor="let column of columns"
        pSortableColumn="{{ column.field }}"
        class="text-center"
        pReorderableColumn
      >
        <div style="width:100% ;white-space: nowrap;display: flex;flex-direction: column; align-items: center;" class="p-d-flex p-jc-between p-ai-center">
          {{ column.header }} 
          <div class="icon-div">
            <p-sortIcon field="{{ column.field }}"></p-sortIcon>
            <p-columnFilter
              type="{{ column.type }}"
              field="{{ column.field }}"
              display="menu"
              class="p-ml-auto"
            >
            </p-columnFilter>
          </div>
         
        </div>
      </th>

      <th [style]="{ width: '5%' }"></th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-data>
    <tr class="p-selectable-row">
      <td class="text-center">
        <span class="p-column-title">Created Date</span>
        {{ data.created_at | date: "dd-MMM-yyyy" }}
      </td>
      <td  class="text-center">
        <span class="p-column-title">Lead ID</span>
        {{ data.id }}
      </td>
      <td class="text-center">
        <span class="p-column-title">Company Name</span>
        {{ data.company_name }}
      </td>
      <td class="text-center">
        <span class="p-column-title">Individual Name</span>
        {{ data.contact_name }}
      </td>
      <td class="text-center">
        <span class="p-column-title">Email</span>
        {{ data.email }}
      </td>
      <td class="text-center">
        <span class="p-column-title">Phone</span>
        {{ data.mobile_number }}
      </td>
      <td class="text-center">
        <span class="p-column-title">Status</span>
        {{ data.lead_status }}
      </td>
      <td class="text-center">
        <span class="p-column-title">Action</span>
        <a
          href="#"
          [routerLink]="['/leads/', data.id, 'edit']"
          class="fa fa-edit"
        ></a>
      </td>
    </tr>
  </ng-template>

  <ng-template pTemplate="emptymessage" let-columns>
    <tr>
        <td style="text-align: center;" [attr.colspan]="columns.length">
            No records found
        </td>
    </tr>
</ng-template>

</p-table>

<p-paginator
  (onPageChange)="paginate($event)"
  [rows]="pageItems"
  [totalRecords]="totalRecords"
  [rowsPerPageOptions]="[10, 25, 50, { showAll: 'All' }]"
>
</p-paginator>
