<div class="animated fadeIn">
  <div class="col-lg col-md-6">
    <div class="card rcorners">
      <div
        class="card-header row"
        style="background-color: #898485; color: white"
      >
        <div style="padding-left: 20px">
          <h2>Create Prospect</h2>
        </div>
      </div>
      <div class="card-body">
        <form>
          <div class="form-group">
            <div class="card-row">
              <div class="row">
                <div class="col-md-6">
                  <div class="card-row">
                    <div class="row">
                      <div class="col-xl-12">
                        <div class="row">
                          <div class="col-md-4 text-header">Prospect Owner</div>
                          <div class="col-md-7">
                            <span class="p-input-icon-right">
                              <input
                                pInputText
                                formControlName="prospect_owner"
                                class="form-control"
                                placeholder="Seion Lee"
                                type="input"
                                readonly
                              />
                            </span>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div style="width: 100%; margin-left: 0px" class="row">
                      <div class="col-md-4 text-header">Company Name</div>
                      <div class="col-md-7">
                        <span class="p-input-icon-right">
                          <p-autoComplete
                            class="search_field"
                            formControlName="company_name"
                          >
                          </p-autoComplete>
                          <i class="pi pi-search"></i>
                        </span>
                      </div>
                    </div>

                    <div style="width: 100%; margin-left: 0px" class="row">
                      <div class="col-md-4 text-header">Contact Name</div>
                      <div class="col-md-7">
                        <span class="p-input-icon-right">
                          <p-autoComplete
                            class="search_field"
                            formControlName="contact_name"
                            [suggestions]="departmentList"
                            (completeMethod)="createProspect()"
                            field="contact_name"
                          >
                            <ng-template let-contact pTemplate="">
                              <div class="quote-item">
                                <div>{{ contact.contact_name }}</div>
                              </div>
                            </ng-template>
                          </p-autoComplete>
                          <i class="pi pi-search"></i>
                        </span>
                      </div>
                    </div>

                    <div class="row">
                      <div class="col-xl-12">
                        <div class="row">
                          <div class="col-md-4 text-header">Department</div>
                          <div class="col-md-7">
                            <p-dropdown
                              [options]="departmentList"
                              optionLabel="department"
                              optionValue="department"
                              formControlName="department"
                              [style]="{ width: '100%' }"
                            ></p-dropdown>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-xl-12">
                        <div class="row">
                          <div class="col-md-4 text-header required-field">
                            Email
                          </div>
                          <div class="col-md-7">
                            <input
                              required
                              pInputText
                              formControlName="email"
                              class="form-control"
                              placeholder=""
                              type="input"
                            />
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-xl-12">
                        <div class="row">
                          <div class="col-md-4 text-header">Mobile Number</div>
                          <div class="col-md-7">
                            <input
                              pInputText
                              formControlName="mobile_number"
                              class="form-control"
                              placeholder=""
                              type="input"
                            />
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-xl-12">
                        <div class="row">
                          <div
                            style="white-space: nowrap"
                            class="col-md-4 text-header"
                          >
                            Office Phone Number
                          </div>
                          <div class="col-md-7">
                            <input
                              pInputText
                              formControlName="office_phone_number"
                              class="form-control"
                              placeholder=""
                              type="input"
                            />
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-xl-12">
                        <div class="row">
                          <div class="col-md-4 text-header">Address</div>
                          <div class="col-md-6">
                            <textarea
                              [rows]="5"
                              style="width: 118%"
                              pInputTextarea
                              formControlName="address"
                            ></textarea>
                            <div class="d-inline-flex">
                              <div style="margin-right: 5px">
                                <input
                                  pInputText
                                  formControlName="postcode"
                                  class="form-control"
                                  placeholder="Zipcode"
                                  type="input"
                                />
                              </div>
                              <div style="margin-right: 5px">
                                <p-dropdown
                                  [options]="departmentList"
                                  formControlName="state"
                                  optionLabel="state"
                                  optionValue="state"
                                  placeholder="Select State"
                                ></p-dropdown>
                              </div>
                              <div>
                                <input
                                  pInputText
                                  formControlName="country"
                                  class="form-control"
                                  placeholder="Country"
                                  type="input"
                                />
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="row">
                      <div class="col-xl-8">
                        <div class="row">
                          <div class="col-md-5 text-header">Prospect type</div>
                          <div style="margin-left: 26px" class="col-md-6">
                            <p-radioButton
                              style="margin: 7px"
                              name="prospect_type"
                              value="individual"
                              formControlName="prospect_type"
                              inputId="prospect_type1"
                            ></p-radioButton>
                            <label class="radio-label" for="prospect_type1"
                              >Individual</label
                            >
                            <p-radioButton
                              style="margin: 7px"
                              name="prospect_type"
                              value="company"
                              formControlName="prospect_type"
                              inputId="prospect_type2"
                            ></p-radioButton>
                            <label class="radio-label" for="prospect_type2"
                              >Company</label
                            >
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="row">
                      <div class="col-xl-8">
                        <div class="row">
                          <div class="col-md-5 text-header">Source</div>
                          <div
                            style="margin-left: 26px"
                            class="col-md-6 d-inline-flex"
                          >
                            <div class="col-md-5" style="padding: 0px">
                              <p-dropdown
                                [options]="departmentList"
                                optionLabel="source"
                                optionValue="source"
                                formControlName="source"
                                placeholder="Partner"
                              ></p-dropdown>
                            </div>
                            <div
                              class="col-md-7"
                              style="padding: 0px 0px 0px 10px"
                            >
                              <input
                                style="margin: 3px 0px 0px 70px"
                                pInputText
                                class="form-control"
                                placeholder="Others"
                                type="input"
                              />
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="row">
                      <div class="col-xl-12">
                        <div class="row">
                          <div class="col-md-4 text-header">Hospital Class</div>
                          <div class="col-md-7">
                            <p-dropdown
                              [options]="departmentList"
                              optionLabel="hospital_class_code"
                              optionValue="hospital_class_code"
                              formControlName="hospital_class"
                              placeholder="Attentive hospital"
                              [style]="{ width: '100%' }"
                            ></p-dropdown>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="row">
                      <div class="col-xl-12">
                        <div class="row">
                          <div class="col-md-4 text-header">Segment</div>
                          <div class="col-md-7">
                            <p-dropdown
                              [options]="departmentList"
                              optionLabel="segment_code"
                              optionValue="segment_code"
                              formControlName="segment"
                              placeholder="Goverment"
                              [style]="{ width: '100%' }"
                            ></p-dropdown>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="row">
                      <div class="col-xl-12">
                        <div class="row">
                          <div class="col-md-4 text-header">
                            Customer Category
                          </div>
                          <div class="col-md-7">
                            <p-dropdown
                              [options]="departmentList"
                              optionLabel="category_code"
                              optionValue="category_code"
                              formControlName="customer_category"
                              placeholder="Price buyers"
                              [style]="{ width: '100%' }"
                            ></p-dropdown>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="col-md-6">
                  <div class="card-row">
                    <div class="row">
                      <div class="col-xl-12">
                        <div class="row">
                          <div
                            style="white-space: nowrap"
                            class="col-md-4 text-header"
                          >
                            Customer SubCategory
                          </div>
                          <div class="col-md-7">
                            <p-dropdown
                              [options]="departmentList"
                              optionLabel="subcategory_code"
                              optionValue="subcategory_code"
                              formControlName="customer_subcategory"
                              placeholder="97-191"
                              autoWidth="false"
                              [style]="{ width: '100%' }"
                            ></p-dropdown>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="row">
                      <div class="col-xl-12">
                        <div class="row">
                          <div class="col-md-4 text-header">
                            Hospital Bed (Range)
                          </div>
                          <div class="col-md-7">
                            <p-dropdown
                              [options]="departmentList"
                              optionLabel="hospital_bed_value"
                              optionValue="hospital_bed_value"
                              formControlName="hospital_bed"
                              placeholder="97-191"
                              autoWidth="false"
                              [style]="{ width: '100%' }"
                            ></p-dropdown>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="row">
                      <div class="col-xl-12">
                        <div class="row">
                          <div class="col-md-4 text-header required-field">
                            Hospital Bed (Exact)
                          </div>
                          <div class="col-md-7">
                            <input
                              pInputText
                              formControlName="hospital_bed_exact"
                              class="form-control"
                              placeholder=""
                              type="input"
                              required
                            />
                          </div>
                          <div
                            class="invalid-feedback col-md-7 offset-md-4"
                          ></div>
                        </div>
                      </div>
                    </div>

                    <div class="row">
                      <div class="col-xl-12">
                        <div class="row">
                          <div class="col-md-4 text-header">Region ID</div>
                          <div class="col-md-7">
                            <p-dropdown
                              [options]="departmentList"
                              optionLabel="region_id"
                              optionValue="region_id"
                              formControlName="region_id"
                              placeholder="Northern Region"
                              autoWidth="false"
                              [style]="{ width: '100%' }"
                            ></p-dropdown>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="row">
                      <div class="col-xl-12">
                        <div class="row">
                          <div class="col-md-4 text-header">
                            Customer Tax Code
                          </div>
                          <div class="col-md-7">
                            <p-dropdown
                              [options]="departmentList"
                              optionLabel="customer_tax_code"
                              optionValue="customer_tax_code"
                              formControlName="customer_tax_code"
                              placeholder="HCM_NONE"
                              autoWidth="false"
                              [style]="{ width: '100%' }"
                            ></p-dropdown>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-9 submit-button" align="center">
            <div class="form-group">
              <button class="btn btn-light mr-2 px-4" type="reset">
                <i class="pi pi-arrow-left mr-2"></i>CANCEL
              </button>
              <button
                class="btn btn-light px-5"
                type="submit"
                (click)="saveProspect()"
              >
                <i class="pi pi-save mr-2"></i>SAVE
              </button>
              <button
                style="margin-left: 7px"
                class="btn btn-primary px-5"
                type="submit"
              >
                Next
              </button>
            </div>
          </div>
        </form>
      </div>
      <div class="card-footer bg-transparent"></div>
    </div>
  </div>
</div>
