<div class="animated fadeIn">
    <div class="col-lg col-md-6">
      <div class="card rcorners">
          <div class="card-header row" style="background-color: #898485; color: white;">
            <div style="padding-left: 20px;">
              <h2>{{title}}</h2>
            </div>
            <div class="col-lg col-sm-4;" align='right'>
              <input [(ngModel)]="search_text" style="width: 20%;" class="form-control" placeholder="Search" type="text" (keyup)='getAll()'>
            </div>
          </div>
        
          <!-- <a href="#" routerLink="/quote/create/" class="btn btn-success">Create New Quote</a> -->
          <div class="card-body">
            <table class="table table-bordered">
              <thead>
                <tr>
                    <th *ngFor="let header of table_header">{{header}}</th>
                  <!-- <th>Created Date</th>
                  <th>Quotation ID</th>
                  <th>Company Name</th>
                  <th>Validity Date</th>
                  <th>Status</th>
                  <th>Amount (MYR)</th>
                  <th width="220px">Action</th> -->
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let quote of quotes; let i=index">
                  <td>{{ quote.created_at | date:'dd-MMM-yyyy' }}</td>
                  <td><a href="#" [routerLink]="['/quote/', quote.id, 'view']">{{ quote.quote_id }}</a></td>
                  <td>{{ quote.company }}</td>
                  <td>{{ quote.validity_date | date:'dd-MMM-yyyy'}}</td>
                  <td style="width: 10%;">{{ quote.status }}</td>
                  <td>{{quote.amount}}</td>
                  <td style="width: 5%;">
                    <a href="#" [routerLink]="['/quote/revision', quote.id]" class="fa fa-edit"></a>
                    <!-- <button type="button" (click)="deleteQuote(quote.id)" class="btn btn-danger">Delete</button> -->
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="card-footer bg-transparent">
            <nav>
              <select [(ngModel)]="pageItems" (change)='getAll()'>
                <option value="">All</option>
                <option value="10">10</option>
                <option value="20">20</option>
                <option value="50">50</option>
              </select>
              <ul class="pagination justify-content-end">
                <li *ngFor="let page of paginate" class="page-item">
                  <a class="page-link {{page.active==true?'active':''}}" [routerLink]="" (click)='onClick(page.url)'>
                    {{page.label}}
                  </a>
                </li>
              </ul>
            </nav>
          </div>
      </div>
    </div>
</div>
  
  