opp-opportunity-booking {
  width: 100%;
}
.card{
  border-radius:0;
}

.card-header{
  background-color: #898485;
  color:#FFFFFF;
  border-radius:0;
}

:host ::ng-deep .customColor.p-accordion {
  .p-accordion-header {
      font-size: 24px; 
      font-weight: bolder;
      background: white;
      span.pi{
          margin-top: -8px;
          position: absolute;
          right: 0.5em;
          top: 50%;
      }
      .p-accordion-header-link{
          background: white;
      }
  }
  .p-accordion-content{
      padding: 0px;
  }
}

td {
    text-align: center;
}

::ng-deep .nav-link.active {    
    
    background: #2297e6 !important;
    color:#FFFFFF !important;
}

::ng-deep .nav-tabs .nav-link{
    border:none !important;
    border-left: 1px solid !important;
}

.bg-lightgrey{
    background: #fcfcfc;
}

.no-outline tr:first-child td {
  border-top: none !important;
}

.no-outline tr:first-child th {
  border-top: none !important;
}

.no-outline tr:last-child th {
  border-bottom: none !important;
}

.no-outline tr:last-child td {
  border-bottom: none !important;
}

.no-outline tr td:first-child {
  border-left: none !important;
}

.no-outline tr td:last-child {
  border-right: none !important;
}

.no-outline tr th:first-child {
  border-left: none !important;
}

.no-outline tr th:last-child {
  border-right: none !important;
}

.btn-custom {
    background-color: #00538a;
    border-color: #00538a;
    color:#FFFFFF;    
}

.chead{
    font-size: 24px;    
    line-height: 34px;    
    font-style: normal;
    font-weight: 600;
}

.btn-icon{
  height: 2rem;
  line-height: 1rem;
  padding: 0 !important;  
  width: 2rem;  
  font-size: 1.2rem !important;
  font-weight: bold;
  border-radius: 50%;  
  // color: white;
  // background-color: #FFFFFF;
  text-align: center;
  // cursor: pointer;
}

.btn-in-tab{
  position:absolute;
  right:-3.5rem;
  height:1.5rem !important;
  line-height: 0.75rem;
  width: 1.5rem !important;  
  font-size:0.9rem;
}

.btn-white{
  color:#FFFFFF;
  border-color: #FFFFFF;
}

.btn-white i{
  margin-top:0.2rem;
}

.p-relative{
  position: relative;
}

.p-0{
  padding:0 !important;
}

.p-125{
  padding:1.25rem;
}

.b-btm-green{
  border-bottom: solid 3px #5DBEC0;
}

.bg-opp{
  background-color:#5DBEC0;
}

.table-price{
  border-radius: 30px;
}

:host ::ng-deep {
  .p-paginator {
      .p-paginator-current {
          margin-left: auto;
      }
  }
  
  .p-progressbar {
      height: .5rem;
      background-color: #D8DADC;
  
      .p-progressbar-value {
          background-color: #607D8B;
      }
  }
  
  .table-header {
      display: flex;
      justify-content: space-between;
  }
  
  .p-calendar .p-datepicker {
      min-width: 25rem;
  
      td {
          font-weight: 400;
      }
  }
  
  .p-datatable.p-datatable-opportunity {
      .p-datatable-header {
          padding: 1rem;
          text-align: left;
          font-size: 1.5rem;
          background-color: #898485; 
          color: white;
      }
  
      .p-paginator {
          padding: 1rem;
      }
  
      .p-datatable-thead > tr > th {
          text-align: left;
      }
  
      .p-datatable-tbody > tr > td {
          cursor: auto;
      }
  
      .p-dropdown-label:not(.p-placeholder) {
          text-transform: uppercase;
      }
  }
  
  /* Responsive */
  .p-datatable-opportunity .p-datatable-tbody > tr > td .p-column-title {
      display: none;
  }
}

:host ::ng-deep { 
  .p-inputnumber,  .p-calendar{
    width: 100%;
  }

  p-checkbox + label {
    display: inline-block;
    margin-bottom: 0;
    padding-left: 5px;
  } 
  .p-disabled {
    background-color: #e4e7ea;
    opacity: 1;
  }
}

:host ::ng-deep {
  .p-dropdown .p-dropdown-label {
      padding: 0px;
  }
  table#sku_rate {
      width: 95%;
      margin: auto;
  }
  table#sku_rate_datails {
    width: 92.5%;
    margin: 0 auto;
  }

}

.icon-plus, .fa {
  cursor: pointer;
}

@media screen and (max-width: 960px) {
  :host ::ng-deep {
      .p-datatable {
          &.p-datatable-opportunity {
              .p-datatable-thead > tr > th,
              .p-datatable-tfoot > tr > td {
                  display: none !important;
              }
  
              .p-datatable-tbody > tr {
                  border-bottom: 1px solid var(--layer-2);
  
                  > td {
                      text-align: left;
                      display: block;
                      border: 0 none !important;
                      width: 100% !important;
                      float: left;
                      clear: left;
                      border: 0 none;
  
                      .p-column-title {
                          padding: .4rem;
                          min-width: 30%;
                          display: inline-block;
                          margin: -.4rem 1rem -.4rem -.4rem;
                          font-weight: bold;
                      }
  
                      .p-progressbar {
                          margin-top: .5rem;
                      }
                  }
              }
          }
      }
  }

}
