<div class="animated fadeIn">
  <!-- <form> -->
  <div class="col-md-12">
    <div class="row header pt-3 pb-3">
      <div class="col-lg-11 col-md-8 col-sm-8">
        <span class="header-icon">
          <i class="pi pi-user-plus"></i>
          <h3 class="title text-dark"><b>User Access</b></h3>
        </span>
      </div>
      <div class="col-lg-1 col-md-2 col-sm-2">
        <a href="" [routerLink]="" routerLinkActive="router-link-active">
          <button
            class="btn btn-primary btn-fill pull-right form-control"
            (click)="addRoleModel.show()"
          >
            <i class="pi pi-plus"></i>
          </button>
        </a>
      </div>
    </div>
    <div class="card-header row" style="background-color: #f6f6f6">
      <i class="pi pi-list"></i>
      <span class="ml-2"><b>User Group</b></span>
    </div>
    <div class="pt-3 pb-3">
      <div class="form-group has-search">
        <span class="fa fa-search form-control-feedback"></span>
        <input
          type="text"
          class="form-control ds-input"
          id="search-input"
          placeholder="Search..."
          style="position: relative; vertical-align: top"
          (input)="dt.filterGlobal($event.target.value, 'contains')"
        />
      </div>
      <p-table
        #dt
        [value]="userRoleList"
        styleClass="p-datatable-gridlines"
        [globalFilterFields]="['name', 'status', 'created_at']"
        [paginator]="true"
        [rows]="10"
        [showCurrentPageReport]="true"
        [rowsPerPageOptions]="[{ showAll: 'All' }, 10, 25, 50]"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
      >
        <ng-template pTemplate="header">
          <tr>
            <th width="40%">User Group Name</th>
            <th class="text-center" width="20%">Status</th>
            <th class="text-center" width="20%">Creaed Date</th>
            <th class="text-center" width="15%">Action</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-user>
          <tr>
            <td>{{ user.name }}</td>
            <td class="text-center">
              <div *ngIf="user.status">
                {{ user.status }}
              </div>
              <div *ngIf="!user.status">_</div>
            </td>
            <td class="text-center">
              <div *ngIf="user.created_at">
                {{ user.created_at | date: "dd-MMM-yyyy" }}
              </div>
              <div *ngIf="!user.created_at">_</div>
            </td>
            <td class="text-center">
              <!-- (click)="getRoleDetail(user.id)" -->
              <!-- [routerLink]="['/useraccess/', user.id, 'edit']" -->
              <a
                [routerLink]=""
                (click)="editRole(user.id)"
                routerLinkActive="router-link-active"
                title="Edit Record"
              >
                <i class="fa fa-edit"></i>
              </a>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>
  <!-- </form> -->
</div>

<!-- add-role-model -->
<!-- (onHide)="setTermsConditions()" -->
<div
  bsModal
  (onHide)="resetModel()"
  #addRoleModel="bs-modal"
  class="modal fade"
  tabindex="-1"
  role="dialog"
  aria-labelledby="myModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Add Role</h4>
        <button
          type="button"
          class="close"
          (click)="addRoleModel.hide()"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body">
        <div class="add-role-field">
          <label>Add Role:</label>
          <div class="name-field">
            <input
              id="username2"
              type="username"
              [(ngModel)]="roleName"
              (input)="enterName()"
              aria-describedby="username2-help"
              [class]="inputErrorClass"
              pInputText
              style="width: 100%; height: 40px"
            />
            <small
              id="username2-help"
              class="p-error"
              *ngIf="isNameFieldError"
              >{{ errorMessage }}</small
            >
          </div>

          <!-- <input
            type="text"
            pInputText
            [(ngModel)]="roleName"
            style="width: 100%; height: 40px"
          /> -->
        </div>
      </div>
      <div class="action-btn">
        <button
          type="button"
          class="btn btn-outline-primary cancel-btn"
          (click)="addRoleModel.hide()"
        >
          CANCEL
        </button>
        <button
          type="button"
          class="btn btn-primary save-btn"
          (click)="addRole()"
        >
          SAVE
        </button>
      </div>
    </div>

    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>

<!-- succes-model -->
<div
  id="success"
  bsModal
  #successModal="bs-modal"
  class="modal fade"
  tabindex="-1"
  role="dialog"
  aria-labelledby="myModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-success" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Success</h4>
      </div>
      <div class="modal-body">
        <p>{{ alertBody }}</p>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>

<!-- danger-model -->
<div
  bsModal
  #dangerModal="bs-modal"
  class="modal fade"
  tabindex="-1"
  role="dialog"
  aria-labelledby="myModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-danger" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Error</h4>
      </div>
      <div class="modal-body">
        <p>{{ alertBody }}</p>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
