<!--/.col-->

  <!--/.col-->
  <div class="form-group">
    <p-accordion class="p-accordion">
        <p-accordionTab class="p-accordionTab" [selected]="true">
            <p-header class="p-header">
                <i class="cil-info"></i>
                <span class="accordion-header">Opportunity Summary</span>
            </p-header>
                  <div>
                    <table class="table table-borderless">
                      <tbody>
                        <tr>
                          <td>Customer & Code</td>
                          <td>Parkway Singapore</td>
                          <td>Opportunity Amount (RM)</td>
                          <td>35,000.00</td>
                        </tr>
                        <tr>
                            <td>Opportunity ID</td>
                            <td>00123456</td>
                            <td>Opportunity no.-Version</td>
                            <td>123567.01</td>
                          </tr>
                        <tr>
                          <td>Initiator</td>
                          <td>Jane Doe (BK-0092)</td>
                          <td>Winning Probability</td>
                          <td>65%</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
        </p-accordionTab>
    </p-accordion>
  </div>