.rcorners{
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    overflow: hidden;
}

th {
    background-color: #2297e6;
    color: white;
    text-align: center;
    border:hidden;
}

table {
    border: 1px solid #2297e6;
    border-collapse: separate;
    border-spacing: 0;
}

td {
    text-align: center;
}

.buttonColor {
    background-color: #00538a;
    border-color: #00538a;
}

.active{
    color: green;
}

.inactive{
    color: red;
}

.card-body{
    padding: 0%;
}

.card { 
    background-color: var(--body-color);
    border: none;
}

.card-header{
    border: 1;
}

.card-body{
    padding: 0%;
    background-color: white;
    border: white;
}
.card-footer { 
    opacity: 1; 
    border: none;
    padding: 0%;
    padding-top: 20px;
}