<div class="animated fadeIn">
  <div class="col-lg col-md-6">
    <div class="card rcorners">
        <div class="card-header"><h1>Quote List</h1></div>
      
        <!-- <a href="#" routerLink="/quote/create/" class="btn btn-success">Create New Quote</a> -->
        <div class="card-body">
          <div class="form-group row" style="padding-top: 30px;">
            <div style="padding: 20px;"></div>
            <div class="btn-group" dropdown>
                <button type="button" class="btn btn-danger buttonColor" routerLink="/quote/create/">{{selected}}</button>
                <button type="button" dropdownToggle class="btn btn-danger dropdown-toggle dropdown-toggle-split buttonColor">
                    <span class="caret"></span>
                </button>
                <ul *dropdownMenu class="dropdown-menu" role="menu">
                    <li *ngFor="let selection of selections" (click)='onSelect(selection)' role="menuitem">
                        <a class="dropdown-item">{{selection}}</a>
                    </li>
                </ul>
            </div>
          </div>

          <table class="table table-bordered">
            <thead>
              <tr>
                <th>Created Date</th>
                <th>Quotation ID</th>
                <th>Company Name</th>
                <th>Validity Date</th>
                <th>Active</th>
                <th>Quote Status</th>
                <th width="220px">Action</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let quote of quotes">
                <td>{{ quote.created_at | date:'dd-MMM-yyyy' }}</td>
                <td><a href="#" [routerLink]="['/quote/', quote.id, 'view']">{{ quote.quote_revision }}</a></td>
                <td>{{ quote.company_id }}</td>
                <td>{{ quote.validity_date | date:'dd-MMM-yyyy'}}</td>
                <td><i class="fa fa-circle fa-lg" [ngClass]="(quote.is_active==1 ? 'active' : 'inactive')"></i></td>
                <td style="width: 10%;">{{ quote.status == 1 ? "Approved" : ( quote.status == 0 ? "Revoke" : "Pending") }}</td>
                <td style="width: 5%;">
                  <a href="#" [routerLink]="['/quote/', quote.id, 'edit']" class="fa fa-edit"></a>
                  <!-- <button type="button" (click)="deleteQuote(quote.id)" class="btn btn-danger">Delete</button> -->
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="card-footer bg-transparent">
          <nav>
            <ul class="pagination justify-content-end">
              <li *ngFor="let page of paginate" class="page-item">
                <a class="page-link {{page.active==true?'active':''}}" [routerLink]="" (click)='onClick(page.url)'>{{page.label}}</a>
              </li>
            </ul>
          </nav>
        </div>
    </div>
  </div>
</div>

