<div class="animated fadeIn">
	<div class="row">
		
		<div class="col-sm-12 col-md-12">
			<div class="card">
				<div class="card-header d-flex b-btm-green">
					<div class="chead">Opportunity Detail</div>						
				</div>
				
					<div class="card-body p-0">
						
						<div class="d-flex justify-content-between p-125" style="align-items: center; justify-content: center;">
							<div class="chead">{{detail.company_name}}</div>
							<div class="bg-opp text-white p-1">Opport. ID {{detail.opportunity_code}}</div>
							<div>
								<label>Stages</label>
								<select class="form-control">
									<option>Negotiation & Procurement</option>
								</select>
							</div>
							<div>
								<label>Status</label>
								<select class="form-control">
									<option *ngFor="let status of statuses; let i = index" value="{{status.id}}">{{status.title}}</option>
								</select>
							</div>
						</div>					
						<div class="d-flex justify-content-between p-125" style="background-color: #F6F6F6;">
							<div>
								<input type="text" [(ngModel)]="detail.topic" class="form-control" />
							</div>
							<div>
								<label>Created Date</label>
								<div>{{detail.created_at}}</div>
							</div>
							<div>
								<label>Individual Name</label>
							</div>
							<div>
								<label>Email</label>
							</div>
							<div>
								<label>Owner</label>
							</div>
						</div>
				
					</div>				
		 
			</div>
      	</div>	
		
		<div class="col-md-12 form-group">
			<p-accordion [multiple]="true" styleClass="customColor" activeIndex="0,1,2">	
				<p-accordionTab>
					<ng-template pTemplate="header"><i class="cil-info c-icon"></i>&nbsp;&nbsp;Details Info</ng-template>
					<div class="row">
						<div class="col-md-12">
							<table class="table table-striped m-0 no-outline">
								<tbody>
									<tr>
										<td class="bg-lightgrey text-left w-25">Credit Term</td>
										<td class="w-25"></td>
										<td class="bg-lightgrey text-left w-25">Hospital Bed (Exact Number)</td>
										<td class="w-25"></td>
									</tr>
									<tr>
										<td class="bg-lightgrey text-left">Credit Limit</td>
										<td></td>
										<td class="bg-lightgrey text-left">Geographical Zone</td>
										<td></td>
									</tr>
									<tr>
										<td class="bg-lightgrey text-left">Hospital Class</td>
										<td></td>
										<td class="bg-lightgrey text-left">Customer Tax Code</td>
										<td></td>
									</tr>
									<tr>
										<td class="bg-lightgrey text-left">Segment</td>
										<td>
											<select class="form-control">
												<option>Government</option>
												<option>Semi Government</option>
												<option>Private</option>
											</select>
										</td>
										<td class="bg-lightgrey text-left">Sold To</td>
										<td></td>
									</tr>
									<tr>
										<td class="bg-lightgrey text-left">Customer Category</td>
										<td></td>
										<td class="bg-lightgrey text-left">Ship To</td>
										<td></td>
									</tr>
									<tr>
										<td class="bg-lightgrey text-left">Customer Subcategory</td>
										<td></td>
										<td class="bg-lightgrey text-left">Bill To</td>
										<td></td>
									</tr>
									<tr>
										<td class="bg-lightgrey text-left">Hospital Bed (Range)</td>
										<td></td>
										<td class="bg-lightgrey text-left"></td>
										<td></td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>				
				</p-accordionTab>

				<p-accordionTab>
					<ng-template pTemplate="header"><i class="cil-clock c-icon"></i>&nbsp;&nbsp;Tracking Info</ng-template>
					<div class="row">
						<div class="col-md-12">							
							<table class="table m-0 no-outline">
								<tr>
									<td class="text-left w-25">Request Delivery Date</td>
									<td></td>
									<td class="text-left w-25">Estimated Delivery Date</td>
									<td></td>
								</tr>
								<tr>
									<td class="text-left">Estimated PO Date</td>
									<td></td>
									<td class="text-left">Estimated Invoice Date</td>
									<td></td>
								</tr>
								<tr>
									<td class="text-left">Care Area</td>
									<td></td>
									<td class="text-left">Hospital Department</td>
									<td></td>
								</tr>					    		
							</table>
						</div>
					</div>					
				</p-accordionTab>

				<!-- <p-accordionTab>
					<ng-template pTemplate="header"><i class="cil-clock c-icon"></i>&nbsp;&nbsp;Activity Tracking</ng-template>
					<div class="row">
						<div class="col-md-12">
							<table class="table m-0 no-outline table-striped">
								<thead>
									<tr>
										<th>Opportunity Date & Time</th>
										<th>Order Date & Time</th>
										<th>Estimated Invoice Date</th>
										<th>Customer Expected Delivery Date</th>
										<th>Hospital Department</th>
										<th>Status</th>
										<th>Reason</th>
									</tr>
								</thead>	
								<tbody>
									<tr>
										<td>-</td>
										<td>-</td>
										<td>-</td>
										<td>-</td>
										<td>-</td>
										<td>-</td>
										<td>-</td>
									</tr>
									<tr>
										<td>-</td>
										<td>-</td>
										<td>-</td>
										<td>-</td>
										<td>-</td>
										<td>-</td>
										<td>-</td>
									</tr>
									<tr>
										<td>-</td>
										<td>-</td>
										<td>-</td>
										<td>-</td>
										<td>-</td>
										<td>-</td>
										<td>-</td>
									</tr>
								</tbody>				    		
							</table>
						</div>
					</div>				
				</p-accordionTab> -->

				<p-accordionTab>
					<ng-template pTemplate="header"><i class="cil-columns c-icon"></i>&nbsp;&nbsp;Forecast</ng-template>
					<div class="row">
						<div class="col-md-12">							
							<table class="table m-0 no-outline">
								<tr>
									<td class="text-left w-25">Preferred Vendor</td>
									<td class="w-25">
										<select class="form-control">
											<option>Confident</option>
											<option>Neutral</option>
											<option>Unlikely</option>
											<option>Unknown</option>
										</select>
									</td>
									<td class="text-left w-25">Forecast Category</td>
									<td class="w-25"></td>
								</tr>
								<tr>
									<td class="text-left">Funding Status</td>
									<td></td>
									<td class="text-left">Reason</td>
									<td></td>
								</tr>
								<tr>
									<td class="text-left">Funding Source</td>
									<td></td>
									<td class="text-left">Notes</td>
									<td></td>
								</tr>					    		
							</table>
						</div>
					</div>				
				</p-accordionTab>

			</p-accordion>
		</div>

		<div class="col-md-12 form-group">
			<p-accordion [multiple]="true" styleClass="customColor" activeIndex="0">
				<p-accordionTab>					
					<ng-template pTemplate="header"><i class="cil-cart c-icon"></i>&nbsp;&nbsp;Products</ng-template>
					<tabset>						
						<tab class="p-0" *ngFor="let option of product_options; let i = index" [active]="default_active_option_tab === i">						
						  	<ng-template tabHeading>
								<div class="p-relative">
									<span>Option {{i+1}}</span>
							  		<button (click)="addOption()" class="btn btn-icon btn-outline-primary btn-in-tab" *ngIf="product_options.length == i + 1"><i class="cil-plus c-icon"></i></button>
								</div>							  	
							</ng-template>
						  	<table class="table m-0 no-outline">
					    		<thead>
						    		<tr>
						    			<th>No.</th>
						    			<th>Product Name</th>
						    			<th>SKU ID</th>
						    			<th>Quantity</th>
						    			<th>Unit Price ({{detail.currency_code}})</th>
						    			<th>Total Price ({{detail.currency_code}})</th>
						    			<th>Discount (%)</th>
						    			<th>Net Amount ({{detail.currency_code}})</th>
						    			<th></th>
						    		</tr>	
					    		</thead>	
					    		<tbody>
					    			<tr *ngFor="let product of option.products; let x = index">
										<td>{{x+1}}</td>
					    				<td class="text-left">{{product.name}}</td>
					    				<td class="text-left">{{product.sku}}</td>
					    				<td class="text-left">{{product.quantity}}</td>
					    				<td class="text-left">{{product.unit_price |currency:detail.currency_code:'symbol-narrow'}}</td>
					    				<td class="text-left">{{product.total_price |currency:detail.currency_code:'symbol-narrow'}}</td>
					    				<td class="text-left">{{product.discount}}</td>					    				
					    				<td class="text-left">{{product.amount |currency:detail.currency_code:'symbol-narrow'}}</td>
					    				<td><a style="cursor: pointer;" (click)="openEditProductModal(product.id)"><i class="cil-pencil c-icon"></i></a></td>
					    			</tr>
					    			<tr>
					    				<td></td>
					    				<td>
											<!-- <input type="text" class="form-control" [(ngModel)]="product_name[i]"/> -->
											<input (input)="productSearch($event.target.value)" type="text"  matInput [formControl]="productControl" [matAutocomplete]="productNameAutoComplete" class="form-control">
											<mat-autocomplete #productNameAutoComplete="matAutocomplete" [displayWith]="displayFn" (optionSelected)='productSelected($event.option.value, i)' [panelWidth]="450">
												<mat-option *ngFor="let product of filteredProductList | async" [value]="product">
												{{product.name}} | {{product.sku}}
												</mat-option>
											</mat-autocomplete>
										</td>
					    				<td><input type="text" class="form-control" [(ngModel)]="sku[i]" readonly/></td>
					    				<td><input type="text" class="form-control" [(ngModel)]="quantity[i]" (input)="calculateAmount(i)"/></td>
					    				<td><input type="text" class="form-control" [(ngModel)]="unit_price[i]" (input)="calculateAmount(i)"/></td>
					    				<td><input type="text" class="form-control" [(ngModel)]="total_price[i]" (input)="calculateAmount(i)" readonly/></td>
					    				<td><input type="text" class="form-control" [(ngModel)]="discount[i]" (input)="calculateAmount(i)"/></td>
					    				<td><input type="text" class="form-control" [(ngModel)]="amount[i]" readonly/></td>
					    				<td><button class="btn btn-icon btn-outline-primary" (click)="addProduct(i, option.id)"><i class="cil-plus c-icon"></i></button></td>
					    			</tr>
					    		</tbody>			    		
					    	</table>
							
							<div class="d-flex justify-content-end form-group" style="align-items: center; justify-content: center;">
								<div class="ml-3 w-70">
									<button class="btn btn-custom mr-1 form-group">
										<i class="cil-heart c-icon"></i>
										SET PREFERED OPTION
									</button>
									<button class="btn btn-custom mr-1 form-group" (click)="openDeleteOptionModal(i, option.id)">
										<i class="cil-trash c-icon"></i>
										<span>DELETE OPTION</span>
									</button>
									<button class="btn btn-custom mr-1 form-group" (click)="openCloneOptionModal(i, option.id)">
										<i class="cil-copy c-icon"></i>
										<span>CLONE OPTION</span>
									</button>
									<button class="btn btn-custom mr-1 form-group">
										<i class="cil-notes c-icon"></i>
										<span>CONVERT TO QUOTE</span>
									</button>
									<button class="btn btn-custom form-group" data-toggle="modal" (click)="openAddProductModal(option, i)">
										<i class="cil-plus c-icon"></i>
										<span>PRODUCT</span>
									</button>
								</div>
								<div class="card border-primary m-3 w-50">
									<div class="card-body">
										<table class="table table-borderless table-price">
											<tr>
												<td class="text-left w-50">Subtotal Before Tax</td>
												<td class="text-left">{{calculateSubTotal(i) |currency:detail.currency_code:'symbol-narrow'}}</td>
											</tr>
											<tr>
												<td class="text-left">Tax (SST)</td>
												<td class="text-left"></td>
											</tr>
											<tr>
												<td class="text-left">Discount</td>
												<td class="text-left">{{calculateDiscount(i) |currency:detail.currency_code:'symbol-narrow'}}</td>
											</tr>
											<tr>
												<td class="text-left">Total Amount</td>
												<td class="text-left">{{calculateNetAmount(i) |currency:detail.currency_code:'symbol-narrow'}}</td>
											</tr>
										</table>
									</div>
								</div>
							</div>
						
							<!-- <div class="d-flex justify-content-center mb-3">
								<button class="btn btn-custom mr-1">
									<i class="cil-heart c-icon"></i>
									SET PREFERED OPTION
								</button>
								<button class="btn btn-custom mr-1">
									<i class="cil-trash c-icon"></i>
									<span>DELETE OPTION</span>
								</button>
								<button class="btn btn-custom mr-1">
									<i class="cil-copy c-icon"></i>
									<span>CLONE OPTION</span>
								</button>
								<button class="btn btn-custom mr-1">
									<i class="cil-notes c-icon"></i>
									<span>CONVERT TO QUOTE</span>
								</button>
								<button class="btn btn-custom" data-toggle="modal" (click)="openAddProductModal(option, i)">
									<i class="cil-plus c-icon"></i>
									<span>PRODUCT</span>
								</button>
							</div> -->

						</tab>				
					</tabset>
					
				</p-accordionTab>
			</p-accordion>
		</div>

      	<div class="col-sm-12 col-md-12 form-group">
      		<p-accordion [multiple]="true" styleClass="customColor" activeIndex="0">
				<p-accordionTab header="Competitor List">
					<table class="table m-0 no-outline">
			    		<thead>
				    		<tr>				    			
				    			<th>Name</th>
				    			<th>Amount (RM)</th>
				    			<th></th>					    			
				    		</tr>	
			    		</thead>	
			    		<tbody>
							<tr *ngFor="let competitor of competitors; let i = index">
								<td class="text-left">{{competitor.name}}</td>
								<td class="text-left">{{competitor.amount}}</td>
								<td></td>
							</tr>						
			    			<tr>
			    				<td><input type="text" class="form-control" [(ngModel)]="competitor_name"/></td>
			    				<td><input type="text" class="form-control" [(ngModel)]="competitor_amount"/></td>
			    				<td><button class="btn btn-icon btn-outline-primary" (click)="addCompetitor()"><i class="cil-plus c-icon"></i></button></td>			    		
			    			</tr>			    			
			    		</tbody>			    		
			    	</table>
				</p-accordionTab>
			</p-accordion>
      	</div>
      		      
	</div>

</div>

<div bsModal #addProductModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-lg" role="document">
		<div class="modal-content">
			<div class="modal-header">
			<h4 class="modal-title">Add Product</h4>
				<button type="button" class="close" (click)="addProductModal.hide()" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>

			<div class="modal-body">
				<div class="row form-group">
					<div class="col-md-6">Product Principal</div>
					<div class="col-md-6"><input type="text" class="form-control" /></div>
				</div>
				<div class="row form-group">
					<div class="col-md-6">Product Group</div>
					<div class="col-md-6"><input type="text" class="form-control" /></div>
				</div>
				<div class="row form-group">
					<div class="col-md-6">Product Name</div>
					<div class="col-md-6"><input type="text" class="form-control" [(ngModel)]="search_product_name" /></div>
				</div>
				<div class="row form-group">
					<div class="col-md-6"></div>
					<div class="col-md-6">
						<button class="btn btn-custom mr-1" (click)="productSearch2()">
							<i class="cil-magnifying-glass c-icon"></i>
							Search
						</button>
						<button class="btn btn-custom mr-1">
							<i class="cil-plus c-icon"></i>
							Dummy SKU
						</button>
					</div>					
				</div>
				<hr/>
				<ng-container *ngIf="productList.length > 0; else elseProductListEmptyTemplate">
					<div class="row">
						<div class="col-md-12" style="height:200px; overflow: scroll">
							<table class="table">
								<tr>
									<th>Select</th>
									<th>Name</th>
									<th>SKU ID</th>
									<th>Principle</th>
									<th>Product Group</th>
								</tr>
								<tr *ngFor="let product of productList; let i = index">
									<td><input type="radio" [attr.id]="'p'+i"/></td>
									<td class="text-left">{{product.name}}</td>
									<td class="text-left">{{product.sku}}</td>
									<td class="text-left">{{product.princple}}</td>
									<td class="text-left">{{product.group}}</td>
								</tr>
							</table>
						</div>
					</div>
				</ng-container>
				<ng-template #elseProductListEmptyTemplate>
					<div class="row">
						<div class="col-md-12" align="center">
							No product(s) found...
						</div>
					</div>
				</ng-template>
				
				<hr/>
				<form [formGroup]="addProductForm" (ngSubmit)="addFullProduct()">
					<div class="row form-group">
						<div class="col-md-6">Product Name</div>
						<div class="col-md-6"><input type="text" class="form-control" formControlName="product_name"/></div>
					</div>
					<div class="row form-group">
						<div class="col-md-6">SKU ID</div>
						<div class="col-md-6"><input type="text" class="form-control" formControlName="sku"/></div>
					</div>
					<div class="row form-group">
						<div class="col-md-6">Quantity</div>
						<div class="col-md-6"><input type="text" class="form-control" formControlName="quantity"/></div>
					</div>
					<div class="row form-group">
						<div class="col-md-6">Item Discount</div>
						<div class="col-md-6"><input type="text" class="form-control" formControlName="discount"/></div>
					</div>
					<div class="row form-group">
						<div class="col-md-6">List Price</div>
						<div class="col-md-6"><input type="text" class="form-control" formControlName="list_price"/></div>
					</div>
					<div class="row form-group">
						<div class="col-md-6">Principle</div>
						<div class="col-md-6"><input type="text" class="form-control" formControlName="principle"/></div>
					</div>
					<div class="row form-group">
						<div class="col-md-6">Floor Price</div>
						<div class="col-md-6"><input type="text" class="form-control" formControlName="floor_price"/></div>
					</div>
					<div class="row form-group">
						<div class="col-md-6">Product Manager</div>
						<div class="col-md-6"><input type="text" class="form-control" formControlName="product_manager"/></div>
					</div>

					<hr/>
					<div class="row form-group">
						<div class="col-md-6">For Equipment Product</div>						
					</div>
					<div class="row form-group">
						<div class="col-md-6">Standard Warranty</div>
						<div class="col-md-6"><input type="text" class="form-control" formControlName="standard_warranty"/></div>
					</div>
					<div class="row form-group">
						<div class="col-md-6">Extended Warranty</div>
						<div class="col-md-6"><input type="text" class="form-control" formControlName="extended_warranty"/></div>
					</div>
					<div class="row form-group">
						<div class="col-md-6">Tax Rate</div>
						<div class="col-md-6"><input type="text" class="form-control" formControlName="tax_rate"/></div>
					</div>
					<div class="row form-group">
						<div class="col-md-6">Customer Tax Code</div>
						<div class="col-md-6"><input type="text" class="form-control" formControlName="customer_tax_code"/></div>
					</div>
					<div class="row form-group">
						<div class="col-md-6">Tax Code</div>
						<div class="col-md-6"><input type="text" class="form-control" formControlName="tax_code"/></div>
					</div>

					<hr/>
					<div class="row form-group">
						<div class="col-md-6">Other Cost</div>						
					</div>
					<div class="row form-group">
						<div class="col-md-6">Category</div>
						<div class="col-md-6"><input type="text" class="form-control" formControlName="category"/></div>
					</div>
					<div class="row form-group">
						<div class="col-md-6">Local Distribution</div>
						<div class="col-md-6"><input type="text" class="form-control" formControlName="local_distribution"/></div>
					</div>
					<div class="row form-group text-center">
						<div class="col-md-12"><button class="btn btn-custom" type="submit">Ok</button></div>						
					</div>
				</form>
			</div>
		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div bsModal #editProductModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-lg" role="document">
		<div class="modal-content">
			<div class="modal-header">
			<h4 class="modal-title">Edit Product</h4>
				<button type="button" class="close" (click)="editProductModal.hide()" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>

			<div class="modal-body">
				<!-- <div class="row form-group">
					<div class="col-md-6">Product Principal</div>
					<div class="col-md-6"><input type="text" class="form-control" /></div>
				</div>
				<div class="row form-group">
					<div class="col-md-6">Product Group</div>
					<div class="col-md-6"><input type="text" class="form-control" /></div>
				</div>
				<div class="row form-group">
					<div class="col-md-6">Product Name</div>
					<div class="col-md-6"><input type="text" class="form-control" [(ngModel)]="search_product_name" /></div>
				</div>
				<div class="row form-group">
					<div class="col-md-6"></div>
					<div class="col-md-6">
						<button class="btn btn-custom mr-1" (click)="productSearch2()">
							<i class="cil-magnifying-glass c-icon"></i>
							Search
						</button>
						<button class="btn btn-custom mr-1">
							<i class="cil-plus c-icon"></i>
							Dummy SKU
						</button>
					</div>					
				</div>
				<hr/>
				<ng-container *ngIf="productList.length > 0; else elseProductListEmptyTemplate">
					<div class="row">
						<div class="col-md-12" style="height:200px; overflow: scroll">
							<table class="table">
								<tr>
									<th>Select</th>
									<th>Name</th>
									<th>SKU ID</th>
									<th>Principle</th>
									<th>Product Group</th>
								</tr>
								<tr *ngFor="let product of productList; let i = index">
									<td><input type="radio" [attr.id]="'p'+i"/></td>
									<td class="text-left">{{product.name}}</td>
									<td class="text-left">{{product.sku}}</td>
									<td class="text-left">{{product.princple}}</td>
									<td class="text-left">{{product.group}}</td>
								</tr>
							</table>
						</div>
					</div>
				</ng-container>
				<ng-template #elseProductListEmptyTemplate>
					<div class="row">
						<div class="col-md-12" align="center">
							No product(s) found...
						</div>
					</div>
				</ng-template>
				
				<hr/> -->
				<form [formGroup]="editProductForm" (ngSubmit)="editProduct()">
					<div class="row form-group">
						<div class="col-md-6">Product Name</div>
						<div class="col-md-6"><input type="text" class="form-control" formControlName="product_name"/></div>
					</div>
					<div class="row form-group">
						<div class="col-md-6">SKU ID</div>
						<div class="col-md-6"><input type="text" class="form-control" formControlName="sku"/></div>
					</div>
					<div class="row form-group">
						<div class="col-md-6">Quantity</div>
						<div class="col-md-6"><input type="text" class="form-control" formControlName="quantity"/></div>
					</div>
					<div class="row form-group">
						<div class="col-md-6">Item Discount</div>
						<div class="col-md-6"><input type="text" class="form-control" formControlName="discount"/></div>
					</div>
					<div class="row form-group">
						<div class="col-md-6">List Price</div>
						<div class="col-md-6"><input type="text" class="form-control" formControlName="list_price"/></div>
					</div>
					<div class="row form-group">
						<div class="col-md-6">Principle</div>
						<div class="col-md-6"><input type="text" class="form-control" formControlName="principle"/></div>
					</div>
					<div class="row form-group">
						<div class="col-md-6">Floor Price</div>
						<div class="col-md-6"><input type="text" class="form-control" formControlName="floor_price"/></div>
					</div>
					<div class="row form-group">
						<div class="col-md-6">Product Manager</div>
						<div class="col-md-6"><input type="text" class="form-control" formControlName="product_manager"/></div>
					</div>

					<hr/>
					<div class="row form-group">
						<div class="col-md-6">For Equipment Product</div>						
					</div>
					<div class="row form-group">
						<div class="col-md-6">Standard Warranty</div>
						<div class="col-md-6"><input type="text" class="form-control" formControlName="standard_warranty"/></div>
					</div>
					<div class="row form-group">
						<div class="col-md-6">Extended Warranty</div>
						<div class="col-md-6"><input type="text" class="form-control" formControlName="extended_warranty"/></div>
					</div>
					<div class="row form-group">
						<div class="col-md-6">Tax Rate</div>
						<div class="col-md-6"><input type="text" class="form-control" formControlName="tax_rate"/></div>
					</div>
					<div class="row form-group">
						<div class="col-md-6">Customer Tax Code</div>
						<div class="col-md-6"><input type="text" class="form-control" formControlName="customer_tax_code"/></div>
					</div>
					<div class="row form-group">
						<div class="col-md-6">Tax Code</div>
						<div class="col-md-6"><input type="text" class="form-control" formControlName="tax_code"/></div>
					</div>

					<hr/>
					<div class="row form-group">
						<div class="col-md-6">Other Cost</div>						
					</div>
					<div class="row form-group">
						<div class="col-md-6">Category</div>
						<div class="col-md-6"><input type="text" class="form-control" formControlName="category"/></div>
					</div>
					<div class="row form-group">
						<div class="col-md-6">Local Distribution</div>
						<div class="col-md-6"><input type="text" class="form-control" formControlName="local_distribution"/></div>
					</div>
					<div class="row form-group text-center">
						<div class="col-md-12"><button class="btn btn-custom" type="submit">Ok</button></div>						
					</div>
				</form>
			</div>
		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div><!-- /.modal -->


<div bsModal #deleteOptionModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-danger" role="document">
	  <div class="modal-content">
		<div class="modal-header">
		  <h4 class="modal-title">Delete Option?</h4>
		  <button type="button" class="close" (click)="deleteOptionModal.hide()" aria-label="Close">
			<span aria-hidden="true">&times;</span>
		  </button>
		</div>
		<div class="modal-body">
		  <p>Are you sure you want to delete this option?</p>
		</div>
		<div class="modal-footer">
		  <button type="button" class="btn btn-secondary" (click)="deleteOptionModal.hide()">Close</button>
		  <button type="button" class="btn btn-danger" (click)="deleteOption()">Delete</button>
		</div>
	  </div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div bsModal #cloneOptionModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-info" role="document">
	  <div class="modal-content">
		<div class="modal-header">
		  <h4 class="modal-title">Clone Option?</h4>
		  <button type="button" class="close" (click)="cloneOptionModal.hide()" aria-label="Close">
			<span aria-hidden="true">&times;</span>
		  </button>
		</div>
		<div class="modal-body">
		  <p>Are you sure you want to clone this option?</p>
		</div>
		<div class="modal-footer">
		  <button type="button" class="btn btn-secondary" (click)="cloneOptionModal.hide()">Close</button>
		  <button type="button" class="btn btn-info" (click)="cloneOption()">Clone</button>
		</div>
	  </div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div><!-- /.modal -->