<div class="animated fadeIn">
  <div class="col-lg col-md-6">
    <div class="card">
        <div class="card-header">Opportunity Listing</div>
              
        <div class="card-body p-0">
          
          <div class="form-group mt-3 ml-3">
          	<a class="btn btn-success" routerLink="/opportunity/new">Opportunity</a>                 	
          </div>

          <table class="table table-bordered m-0">
            <thead>
				<tr>
					<th>Created Date</th>
					<th>Opportunity ID</th>
					<th>Topic</th>
					<th>Company Name</th>
					<th>Product</th>
					<th>Opportunity Status</th>                
					<th>Action</th>
				</tr>
            </thead>
            <tbody>
            	<tr>
            		<td>2021-09-09</td>
            		<td>A00001</td>
            		<td>TEST</td>
            		<td>TEST</td>
            		<td>TEST PRODUCT</td>
            		<td>Active</td>
            		<td></td>
            	</tr>
            	<tr>
            		<td>2021-09-09</td>
            		<td>A00001</td>
            		<td>TEST</td>
            		<td>TEST</td>
            		<td>TEST PRODUCT</td>
            		<td>Active</td>
            		<td></td>
            	</tr>
            	<tr>
            		<td>2021-09-09</td>
            		<td>A00001</td>
            		<td>TEST</td>
            		<td>TEST</td>
            		<td>TEST PRODUCT</td>
            		<td>Active</td>
            		<td></td>
            	</tr>
            	<tr>
            		<td>2021-09-09</td>
            		<td>A00001</td>
            		<td>TEST</td>
            		<td>TEST</td>
            		<td>TEST PRODUCT</td>
            		<td>Active</td>
            		<td></td>
            	</tr>
            	<tr>
            		<td>2021-09-09</td>
            		<td>A00001</td>
            		<td>TEST</td>
            		<td>TEST</td>
            		<td>TEST PRODUCT</td>
            		<td>Active</td>
            		<td></td>
            	</tr>
            </tbody>
          </table>
        </div>
 
    </div>
  </div>
</div>

