<div class="animated fadeIn">
    <div class="col-lg col-md-6">
        <div class="card rcorners">
            <div class="card-header row" style="background-color: #898485; color: white;">
                <div style="padding-left: 20px;">
                    <h2>Opportunity Competitor Types Listing</h2>
                </div>
                <div class="create-button">
                    <a href="#" [routerLink]="['/settings/oct/create']" class="fa fa-plus-circle"></a>
                </div>
                <div class="col-lg col-sm-4;" align='right'>
                    <input [(ngModel)]="search_text" style="width: 20%;" class="form-control" placeholder="Search" type="text" (keyup)='getAll()'>
                </div>
            </div>
            <div class="card-body">
                <app-list-table [tableData]="tableData" [headers]="headers" [path]="path" [key]="key" (delete_id)="deleteData($event)"></app-list-table>
            </div>
            <div class="card-footer bg-transparent">
            <nav>
                <select [(ngModel)]="pageItems" (change)='getAll()'>
                <option value="">All</option>
                <option value="10">10</option>
                <option value="20">20</option>
                <option value="50">50</option>
                </select>
                <ul class="pagination justify-content-end">
                <li *ngFor="let page of paginate" class="page-item">
                    <a class="page-link {{page.active==true?'active':''}}" [routerLink]="" (click)='onClick(page.url)'>
                        <div [innerHTML]="page.label"></div>
                    </a>
                </li>
                </ul>
            </nav>
            </div>
        </div>
    </div>
</div>