.card-header {
  border: none;
}

.card-header > i {
  margin-right: 0px;
}

.top-btn {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 10px;
  grid-auto-rows: auto;
}

.header-icon i {
  float: left;
  color: black;
  margin-right: 15px;
  font-size: 1.5rem;
}

.header-icon h3 {
  text-align: left;
}

.has-search .form-control {
  padding-left: 2.375rem;
}
.has-search .form-control-feedback {
  position: absolute;
  z-index: 2;
  display: block;
  width: 2.375rem;
  height: 2.375rem;
  line-height: 2.375rem;
  text-align: center;
  pointer-events: none;
  color: #aaa;
}
.check-field {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  margin: 10px;

  p-checkbox {
    padding-right: 10px;
    padding-left: 30px;
    font-size: 16px;
    font-family: "Lato";
    font-weight: 600;
  }
}

.table-text {
  font-size: 16px;
  font-family: "Lato";
  font-weight: 600;
}

// accordian
:host ::ng-deep .customColor.p-accordion {
  .p-accordion-header {
    font-size: 16px;
    font-weight: 600;
    background: white;
    span.pi {
      margin-top: -8px;
      position: absolute;
      right: 0.5em;
      top: 50%;
    }
    .p-accordion-header-link {
      background: white;
    }
  }
  .p-accordion-content {
    padding: 0px;
    overflow-x: hidden;
  }
}

:host ::ng-deep .customColor.p-accordion {
  .p-accordion-header {
    background: #f8f9fa;
    .p-accordion-header-link {
      background: #f8f9fa;
    }
  }
}
