.custom-footer{
    height: 100px;

    button {
        margin: 10px;
        height: 35px;
        width: 100px;
        font-size: 15px;
        font-weight: 400;
    }
}

::ng-deep .p-accordion p-accordiontab:last-child .p-accordion-content {
    padding-left: 0px;
    padding-right: 0px;
  }
::ng-deep .p-accordion p-accordiontab:last-child .p-accordion-content:first-child {
      padding-top: 0px;
}
  
::ng-deep .p-accordion .p-accordion-header .p-accordion-header-link {
  text-decoration: none;
}
  
::ng-deep .p-accordion .p-accordion-header .p-accordion-header-link .p-accordion-toggle-icon {
  margin-top: -8px;
  position: absolute;
  right: 0.5em;
  top: 50%;
}
  
.accordion-header, .bold-header {
    font-weight: bold;
    font-size: 20px;
    padding-left: 5px;
}

::ng-deep .p-accordion .p-accordion-header:not(.p-disabled).p-highlight .p-accordion-header-link {
  background-color: white;
}