// Here you can add other styles
.text-error {
    color: red;
}

.p-tabview-nav {
    justify-content: center !important;
}

.p-progressbar .p-progressbar-value {
    background: #FF7B00!important;
}