// Variable overrides
$primary: #386FA4;

$body-bg: #ffffff;
$body-color: #717171;

$font-family-base: "Lato", sans-serif;
$btn-font-weight: 700;

$sidebar-bg: #1C5FAB;
$sidebar-minimizer-bg: #1C5FAB;

$sidebar-nav-link-icon-color: #ffffff;
$sidebar-nav-link-active-icon-color: #ffffff;
