<div class="card main-div">
  <div class="card-header page-heading-icon">
    <!-- <h1>Level Of Authority</h1> -->
    <div class="header-text">
      <h2>
        <i class="pi pi-user-plus"> </i>
        Level Of Approval
      </h2>
    </div>
  </div>
  <form [formGroup]="authorityForm">
    <div class="card-body">
      <p class="title-text">
        <!-- <i class="pi pi-user-plus"></i> -->
        Add Level Of Approval
      </p>
      <div class="authority-text row mb-3">
        <!-- ★ -->
        <div class="col-md-6">
          <div class="row">
            <div class="col-3 mt-2">
              <label>Unit: <span class="red-star">*</span></label>
            </div>
            <div class="col-9">
              <p-dropdown
                id="opc"
                name="picList"
                formControlName="unit"
                [options]="allUnits"
                optionLabel="title"
                optionValue="id"
                placeholder="Select parent unit"
                [style]="{ width: '380px' }"
                [required]="true"
                [disabled]="isUserViewLoa"
              ></p-dropdown>
            </div>
          </div>
        </div>

        <!-- Payment Term Approval -->
        <!-- <div class="col-md-6">
          <div class="row">
            <div class="col-3 mt-2">
              <label
                >Payment Term Approval:<span class="red-star">*</span></label
              >
            </div>
            <div class="col-9">
              <p-dropdown
                id="opc"
                name="picList"
                formControlName="paymentTermApproval"
                [options]="userList"
                optionLabel="full_name"
                optionValue="id"
                placeholder="Select payment term"
                [style]="{ width: '380px' }"
                [required]="true"
              ></p-dropdown>
            </div>
          </div>
        </div> -->

        <!-- Person Charges -->
        <!-- <div class="authority-text-2 row mb-2"> -->
        <div class="col-md-6">
          <div class="row">
            <div class="col-3 mt-2">
              <label> Person Incharge:<span class="red-star">*</span></label>
            </div>
            <div class="col-9">
              <p-dropdown
                id="opc"
                name="picList"
                formControlName="personInCharges"
                [options]="userList"
                optionLabel="full_name"
                optionValue="id"
                placeholder="Select In-charges"
                [style]="{ width: '380px' }"
                [required]="true"
                [disabled]="isUserViewLoa"
              ></p-dropdown>
            </div>
          </div>
          <!-- </div> -->
        </div>
      </div>

      <!-- profit-margin-approval-discount -->
      <div class="authority-text-1 row mb-4">
        <!-- Approval Profit Margin -->
        <div class="col-md-6">
          <div class="row">
            <div class="col-3 mt-2">
              <label>Profit Margin: <span class="red-star">*</span></label>
            </div>
            <div class="col-9">
              <input
                type="text"
                pInputText
                placeholder="0"
                formControlName="profitMargin"
                inputId="integeronly"
                inputId="withoutgrouping"
                [style]="{ width: '380px' }"
                [attr.disabled]="isUserViewLoa ? '' : null"
              />
            </div>
          </div>
        </div>

        <!-- Approval Discount -->
        <div class="col-md-6">
          <div class="row">
            <div class="col-3 mt-2">
              <label>Approval Discount:<span class="red-star">*</span></label>
            </div>
            <div class="col-9">
              <input
                type="text"
                pInputText
                placeholder="0"
                formControlName="discount"
                inputId="integeronly"
                inputId="withoutgrouping"
                [style]="{ width: '380px' }"
                [attr.disabled]="isUserViewLoa ? '' : null"
              />
            </div>
          </div>
        </div>
      </div>
      <!-- celling price amount and celling price approval -->
      <div class="celling-approval">
        <h4>Celling Level Approval</h4>
      </div>
      <div class="authority-text-1 row mb-2">
        <!-- Approval Profit Margin -->
        <div class="col-md-6">
          <div class="row">
            <div class="col-3 mt-2">
              <label
                >Celling Price Amount: <span class="red-star">*</span></label
              >
            </div>
            <div class="col-9">
              <input
                type="text"
                pInputText
                placeholder="0"
                formControlName="cellingPriceAmount"
                inputId="integeronly"
                inputId="withoutgrouping"
                [style]="{ width: '380px' }"
                [attr.disabled]="isUserViewLoa ? '' : null"
              />
              <!-- <p-inputNumber
                name=""
                formControlName="cellingPriceAmount"
                inputId="integeronly"
                inputId="withoutgrouping"
                [useGrouping]="false"
                [style]="{ width: '380px' }"
              >
              </p-inputNumber> -->
            </div>
          </div>
        </div>

        <!-- celling price approval -->
        <div class="col-md-6">
          <div class="row">
            <div class="col-3 mt-2">
              <label
                >Celling Price Approval:<span class="red-star">*</span></label
              >
            </div>
            <div class="col-9">
              <p-dropdown
                id="opc"
                name="picList"
                formControlName="cellingPriceApproval"
                [options]="userList"
                optionLabel="full_name"
                optionValue="id"
                placeholder="Select celling price approval"
                [style]="{ width: '380px' }"
                [required]="true"
                [disabled]="isUserViewLoa"
              ></p-dropdown>
            </div>
          </div>
        </div>
      </div>

      <!-- price level approval -->
      <div class="price-action">
        <h4>Price Level Approval</h4>
        <button
          class="btn btn-icon btn-outline-primary"
          icon="pi pi-check"
          (click)="addPriceLevelApproval()"
          *ngIf="!isUserViewLoa"
        >
          <i class="cil-plus c-icon"></i>
        </button>
      </div>

      <div formArrayName="priceApprovel">
        <div
          *ngFor="let field of getPriceApprovelForm().controls; let i = index"
          [formGroupName]="i"
          class="price-level row mt-4"
        >
          <div class="col-md-6">
            <div class="row">
              <div class="col-3 mt-2">
                <!-- Amount -->
                <label>Amount: <span class="red-star">*</span></label>
              </div>
              <div class="col-9">
                <p-inputNumber
                  name=""
                  formControlName="amount"
                  inputId="integeronly"
                  inputId="withoutgrouping"
                  [style]="{ width: '380px' }"
                  [disabled]="isUserViewLoa"
                >
                </p-inputNumber>
              </div>
            </div>
            <!-- <input type="text" class="form-control" formControlName="amount" /> -->
          </div>
          <!-- approve by -->
          <div class="col-md-6">
            <div class="row">
              <div class="col-3 mt-2">
                <label>Approve By: <span class="red-star">*</span></label>
              </div>
              <div class="col-9">
                <p-dropdown
                  id="opc"
                  name="picList"
                  formControlName="approve_by"
                  [options]="userList"
                  optionLabel="full_name"
                  optionValue="id"
                  placeholder="Select Approve By"
                  [style]="{ width: '300px' }"
                  [required]="true"
                  [disabled]="isUserViewLoa"
                >
                </p-dropdown>
                <a
                  [routerLink]=""
                  *ngIf="!isUserViewLoa"
                  routerLinkActive="router-link-active"
                  (click)="deletePriceLevelRow(i)"
                  ><i
                    class="fa fa-trash"
                    style="font-size: 18px; padding-left: 2rem"
                  ></i
                ></a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="action-btn">
        <button type="button" class="btn btn-outline-primary cancel-btn" (click)="resetForm()">
          CANCEL
        </button>
        <button
          type="button"
          class="btn btn-primary save-btn"
          (click)="createUserLoad()"
          *ngIf="!isUserViewLoa"
        >
          SAVE
        </button>
      </div>

      <div class="authority-table">
        <p-table
          #dt
          [value]="allUnits"
          styleClass="p-datatable-authority"
          [globalFilterFields]="['created_at', 'code', 'title']"
          [paginator]="true"
          [rows]="10"
          [showCurrentPageReport]="true"
          [rowsPerPageOptions]="[{ showAll: 'All' }, 10, 25, 50]"
          currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
        >
          <!-- Header -->
          <ng-template pTemplate="header">
            <div class="table-header-column">
              <tr
                align="center"
                style="background-color: #009aff !important; color: white"
              >
                <!-- created-date -->
                <th pSortableColumn="created_at" class="text-center">
                  <div class="column-design">
                    Created Date
                    <div class="date-icons">
                      <p-sortIcon field="created_at"></p-sortIcon>
                      <p-columnFilter
                        type="date"
                        field="created_at"
                        display="menu"
                        class="p-ml-auto"
                      ></p-columnFilter>
                    </div>
                  </div>
                </th>
                <!-- name -->
                <th pSortableColumn="name" class="text-center">
                  <div class="column-design">
                    UnitName
                    <div class="name-icons">
                      <p-sortIcon field="name"></p-sortIcon>
                      <p-columnFilter
                        type="text"
                        field="name"
                        display="menu"
                        class="p-ml-auto"
                      ></p-columnFilter>
                    </div>
                  </div>
                </th>
                <!-- Rate -->
                <th pSortableColumn="rate" class="text-center">
                  <div class="column-design">
                    Unit Code
                    <div class="rate-icons">
                      <p-sortIcon field="rate"></p-sortIcon>
                      <p-columnFilter
                        type="text"
                        field="rate"
                        display="menu"
                        class="p-ml-auto"
                      ></p-columnFilter>
                    </div>
                  </div>
                </th>
                <!-- action -->
                <th pSortableColumn="action" class="text-center">
                  <div class="column-design">
                    Action
                    <div class="action-icons"></div>
                  </div>
                </th>
              </tr>
            </div>
          </ng-template>

          <!-- Data -->
          <ng-template pTemplate="body" let-authorityUnit>
            <tr align="center">
              <td class="text-center">
                <div *ngIf="authorityUnit.created_at">
                  {{ authorityUnit.created_at | date: "MM-dd-yyyy" }}
                </div>
                <div *ngIf="!authorityUnit.created_at">_</div>
              </td>
              <td class="text-center">
                {{ authorityUnit.title }}
              </td>
              <td class="text-center">
                {{ authorityUnit.code }}
              </td>
              <td class="text-center">
                <a
                  href="#"
                  [routerLink]=""
                  class="fa fa-eye"
                  (click)="viewUserLoaDetail(authorityUnit.id)"
                  style="margin: 10px"
                ></a>
                <a
                  [routerLink]=""
                  routerLinkActive="router-link-active"
                  (click)="goForEdit(authorityUnit.id)"
                >
                  <i class="fa fa-edit"></i>
                </a>
              </td>
            </tr>
          </ng-template>
        </p-table>
      </div>
    </div>
  </form>
</div>

<!-- model -->

<div
  id="success"
  bsModal
  #successModal="bs-modal"
  class="modal fade"
  tabindex="-1"
  role="dialog"
  aria-labelledby="myModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-success" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Success</h4>
      </div>
      <div class="modal-body">
        <p>{{ alertBody }}</p>
      </div>
    </div>
  </div>
</div>
<div
  bsModal
  #dangerModal="bs-modal"
  class="modal fade"
  tabindex="-1"
  role="dialog"
  aria-labelledby="myModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-danger" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Error</h4>
      </div>
      <div class="modal-body">
        <p>{{ alertBody }}</p>
      </div>
      <div class="modal-footer"></div>
    </div>
  </div>
</div>
